{% spaceless %}
{% autoescape off %}

<DIV id="main-submenu-tab">
	<UL CLASS="tabs">
		<LI CLASS="active">
			<A CLASS="main-submenu-tab-link" rel="classificacao" href="#">Classificação</A>
		</LI>
		<LI>
			<A CLASS="main-submenu-tab-link" rel="sumario" href="#">Sumário</A>
		</LI>
	</UL>	
	<DIV class="clear"></DIV>
	<DIV class="main-tab-content">
		<DIV class="tab_contents tab_contents_active" id="classificacao">
			
		<!-- inicio sumario -->

<div class="fp-subtitulo" style="margin:10px;">Classificação geral da {{competicao.cmp_nome_completo}} 
	<div class="epoca-container">{{competicao.cmp_epoca.epo_nome}}</div>
</div>

<div><div id="fp_classificacao_range_jornada"></div><input id="fp_classificacao_range" style="width:800px;" type="range" min="1" max="{{competicao.cmp_numero_jornadas}}" /></div>

<div style="text-align: center;display:inline-block;">
	<div style="float:left; margin-right:15px;">
		<div style="width:100%; text-align:center; padding:10px;font-size:16px;">A classificação "real"...</div>
		<div style="width:100%; text-align:center;">
			
			<TABLE id="fp_classificacao_real" CLASS="fp-table" style="margin:auto;font-size:12px;text-align:center;width:400px;">
				<THEAD>
					<TR>
						<TH{% if competicao.cmp_tipo|neq:"Liga" %} style="width:50px;"{% endif %}>P</TH>
						<TH style="width:150px;">Clube</TH>
						<TH>J</TH>
						<TH>V</TH>
						<TH>E</TH>
						<TH>D</TH>
						<TH>GM</TH>
						<TH>GS</TH>
						{% if competicao.cmp_tipo|eq:"Liga" %}<TH>P</TH>{% endif %}
					</TR>
				</THEAD>
			<TBODY>	
			</TBODY>
			</TABLE>
		</div>
	</div>

	<div style="float:left; margin-right:15px;">
		<div style="width:100%; text-align:center; padding:10px;font-size:16px;">A classificação "virtual"...</div>
		<div style="width:100%; text-align:center;">
			
			<TABLE id="fp_classificacao_virtual" CLASS="fp-table" style="margin:auto;font-size:12px;text-align:center;width:400px;">
	<THEAD>
		<TR>
			<TH{% if competicao.cmp_tipo|neq:"Liga" %} style="width:50px;"{% endif %}>P</TH>
			<TH></TH><TH style="width:130px;">Clube</TH><TH>J</TH><TH>V</TH>
			<TH>E</TH><TH>D</TH><TH>GM</TH><TH>GS</TH>
			{% if competicao.cmp_tipo|eq:"Liga" %}<TH  style="width:50px;">P</TH>{% endif %}
		</TR>
	</THEAD>
	<TBODY>
	</TBODY>
			</TABLE>
		</div>
	</div>	
</div>

<div style="text-align:center;margin:40px;">
	<table class='fp-table'>
		<tbody>
			<tr style="height:30px;">

	<td style="width:30px;">
		<DIV class="fp-tabela-classificacao-linha-lugar-liga-campeoes fp-medium-radius">&nbsp;</DIV></td>
	<td>Acesso directo à Liga dos Campeões</td>
	<td style="width:30px;">
		<DIV class="fp-tabela-classificacao-linha-lugar-eliminatoria-liga-campeoes fp-medium-radius">&nbsp;</DIV></td>
	<td>Eliminatórias da Liga dos Campeões</td>
	<td style="width:30px;">
		<DIV class="fp-tabela-classificacao-linha-lugar-liga-europa fp-medium-radius">&nbsp;</DIV></td>
	<td>Acesso à Liga Europa</td>
	<td style="width:30px;">
		<DIV class="fp-tabela-classificacao-linha-lugar-descida fp-medium-radius">&nbsp;</DIV></td>
	<td>Lugar de descida</td>

		</tr>
		<tr>

	<td style="width:30px;"><span style="font-weight:bold;color:green;">&uarr;</span><span style="font-weight:bold;color:red;">&darr;</span> </td>
	<td>Posição sobe/desce ao compensar os prejuízos/benefícios</td> 
	<td style="width:30px;background-color:#FF9999">&nbsp;</td>
	<td>Valor diferente, equipa beneficiada</td>
	<td style="width:30px;background-color:#99FF99">&nbsp;</td>
	<td>Valor diferente, equipa prejudicada</td>
	<td style="width:30px;background-color:#9999FF">&nbsp;</td>
	<td>Valor diferente, equipa sem prejuízo / benefício</td>
		</tbody>
	</table>
</div>

		<!-- fim sumario -->
		
		</DIV>
		<DIV class="tab_contents" id="sumario">
			
		<!-- inicio stats -->

<div style="width:100%;display:block;">
	
	<div style="float:left;display:inline;padding:20px;width:400px;text-align:center;">	

		<div class="fp-subtitulo" style="margin-bottom:10px;">Melhores marcadores</div> 

		<table id="fp-detalhe_clube-melhores-marcadores" class='fp-table' style="width:400px;">
		<THEAD>
			<tr style="text-align:center;"><TH style="width:200px;">Jogador</TH><TH>Clube</TH><TH>Golos</TH></tr>
		</THEAD>
		<TBODY>		
		{% for jogador in melhores_marcadores %}	
			<TR>
				<TD><P class="marqueeable">
					<a href="/detalhe_jogador?id={{jogador.jogador.key.id}}">
				<span class="fp-lista-numero-jogador">{{jogador.jogador.jgd_numero}}</span> {{jogador.jogador.jgd_nome}}</A></P></TD>
				<TD><P class="marqueeable"><a href="/detalhe_clube?id={{jogador.jogador.jgd_clube_actual.key.id}}"><img class="fp-clube-logo-small" src='{{jogador.jogador.jgd_clube_actual.clu_link_logo}}'> {{jogador.jogador.jgd_clube_actual.clu_nome_curto}}</A></P></TD>
				<TD style="text-align:center;">
					<P class="marqueeable">{{jogador.gol}} &times; <img style="height:15px;" src="img/golo.png"></P>	</TD>	
			</TR>
		{% endfor %}	
		
		</TBODY>
		</TABLE>	
		<div style="font-size:12px; margin:3px;color:gray;"><a href="#" onClick="javascript:$('#detalhe_competicao_jogadores').trigger('click'); return false;"> Mais informação >></a></div>		

	</div>

	<div style="float:left;display:inline;padding:20px;width:400px;text-align:center;">	

		<div class="fp-subtitulo" style="margin-bottom:10px;">Mais indisciplinados</div> 

		<TABLE id="fp-detalhe_clube-indisciplina" class='fp-table' style="width:400px;">
		<THEAD>
			<TR style="text-align:center;">
				<TH style="width:200px;">Jogador</TH><TH>Clube</TH><TH>Cartões</TH>
			</TR>
		</THEAD>
		<TBODY>
	{% for jogador in mais_indisciplinados %}
			<TR>
				<TD>
					<P class="marqueeable">
						<a href="/detalhe_jogador?id={{jogador.jogador.key.id}}">
							<span class="fp-lista-numero-jogador">{{jogador.jogador.jgd_numero}}
							</span>
					 {{jogador.jogador.jgd_nome}}
						</A>
					</P>
				</TD>
				<TD>
					<P class="marqueeable">
						<a href="/detalhe_clube?id={{jogador.jogador.jgd_clube_actual.key.id}}"><img class="fp-clube-logo-small" src='{{jogador.jogador.jgd_clube_actual.clu_link_logo}}'> {{jogador.jogador.jgd_clube_actual.clu_nome_curto}}</A></P></TD>
					<TD style="text-align:center;"><P class="marqueeable">
{% if jogador.crt.ca|gt:0 %}{{jogador.crt.ca}} &times; <img style="height:15px;" src="img/amarelo.png">{% endif %} 
{% if jogador.crt.cda|gt:0 %}{{jogador.crt.cda}} &times; <img style="height:15px;" src="img/duploamarelo.png">{% endif %}
{% if jogador.crt.cv|gt:0 %}{{jogador.crt.cv}} &times; <img style="height:15px;" src="img/vermelho.png">{% endif %}
 				</P></TD>	
			</TR>
		{% endfor %}	
		
		</TBODY>
		</TABLE>	
		<div style="font-size:12px; margin:3px;color:gray;"><a href="#" onClick="javascript:$('#detalhe_competicao_jogadores').trigger('click'); return false;"> Mais informação >></a></div>	
	</div>
</DIV>	

<!--fim sumario  -->	
		</DIV>
	</DIV>
</DIV>
	
<DIV class="fp-date">Página gerada em {{data|date:"Y/m/d H:i"}} | <a href="http://www.foipenalti.com/detalhe_competicao?id={{competicao.key.id}}&menu=detalhe_competicao_sumario">Link permanente</A> | <A class="modalCorrect" href="#">Corrigir a informação</a></DIV> 
<script>
var classificacao_real_parcial = {{classificacao_real_parcial|to_json}}
var classificacao_virtual_parcial = {{classificacao_virtual_parcial|to_json}}
var cmp_lugares_descida = {{competicao.cmp_lugares_descida|to_json}}
var cmp_lugares_liga_campeoes = {{competicao.cmp_lugares_liga_campeoes|to_json}}
var cmp_lugares_eliminatorias_liga_campeoes = {{competicao.cmp_lugares_eliminatorias_liga_campeoes|to_json}}
var cmp_lugares_liga_europa = {{competicao.cmp_lugares_liga_europa|to_json}}
var cmp_tipo = "{{competicao.cmp_tipo}}"
var clubes = {{clubes|to_json}}

$(document).ready(function() {

	$("#fp_classificacao_range").live("change", function() {

		var jornada_label = $("#fp_classificacao_range_jornada")

		var tabela_classificacao_real = $("#fp_classificacao_real")
		var tabela_classificacao_virtual = $("#fp_classificacao_virtual")
		tabela_classificacao_real.find("tbody").html("")
		tabela_classificacao_virtual.find("tbody").html("")	
			
		var que_jornada = $(this).val()
		var que_indice = que_jornada-1
		var quantas_jornadas_ha = classificacao_real_parcial.length
		if (que_indice > classificacao_real_parcial.length -1) {
			que_indice = classificacao_real_parcial.length -1
		}

		dados_real = classificacao_real_parcial[que_indice]
		classificacao_real = dados_real["classificacao_parcial"]
		dados_virtual = classificacao_virtual_parcial[que_indice]
		classificacao_virtual = dados_virtual["classificacao_parcial"]
		html_real = ""
		html_virtual = ""
		
		// preciso, para fazer depois comparações na tabela virtual, por clube
		classificacao_real_por_clube = []

		for (i in classificacao_real) {
			linha = classificacao_real[i]
			
			classificacao_real_por_clube[linha["clu"]] = linha
			
			html_real += "<TR><TD value='"+linha["psr"]+"'>"
			if (linha["psr"] in cmp_lugares_descida) {
				html_real += "<DIV CLASS='fp-tabela-classificacao-linha-lugar-descida fp-medium-radius'>"
			} else if (linha["psr"] in cmp_lugares_liga_campeoes) {
				html_real += "<DIV CLASS='fp-tabela-classificacao-linha-lugar-liga-campeoes fp-medium-radius'>"
			} else if (linha["psr"] in cmp_lugares_eliminatorias_liga_campeoes) {
				html_real += "<DIV CLASS='fp-tabela-classificacao-linha-lugar-eliminatoria-liga-campeoes fp-medium-radius'>"
			} else if (linha["psr"] in cmp_lugares_liga_europa) {
				html_real += "<DIV CLASS='fp-tabela-classificacao-linha-lugar-liga-europa fp-medium-radius'>"
			} else {
				html_real += "<DIV>"
			}
			html_real += "<p class='marqueeable'>"+linha["psr"]
			if (cmp_tipo == "Liga") {html_real += "º"}
			html_real += "</P>"
			html_real += "</DIV></TD>"
			
			html_real += "<TD value='"+clubes[linha["clu"]]["nome"]+"' style='text-align:left;'>"
			html_real += "<P class='marqueeable'><img src='"+clubes[linha["clu"]]["logo"]+"' style='height:14px;margin-right:3px;'>"
			html_real += "<A HREF='detalhe_clube?clube="+clubes[linha["clu"]]["id"]+"'>"+clubes[linha["clu"]]["nome"]+"</A></P></TD>"
			html_real += "<TD>"+linha["jr"]+"</TD>"
			html_real += "<TD>"+linha["vr"]+"</TD>"
			html_real += "<TD>"+linha["er"]+"</TD>"
			html_real += "<TD>"+linha["dr"]+"</TD>"
			html_real += "<TD>"+linha["gmr"]+"</TD>"
			html_real += "<TD>"+linha["gsr"]+"</TD>"
			if (cmp_tipo == "Liga") {
				html_real += "<TD><B>"+linha["pr"]+"</B></TD>"
			}
			html_real += "</TR>"
		}
		
		
		for (i in classificacao_virtual) {
			linha = classificacao_virtual[i]
			
			linha_classificacao_real_do_clube = classificacao_real_por_clube[linha["clu"]]
			
			html_virtual += "<TR><TD value='"+linha["psv"]+"'>"
			if (linha["psv"] in cmp_lugares_descida) {
				html_virtual += "<DIV CLASS='fp-tabela-classificacao-linha-lugar-descida fp-medium-radius'>"
			} else if (linha["psv"] in cmp_lugares_liga_campeoes) {
				html_virtual += "<DIV CLASS='fp-tabela-classificacao-linha-lugar-liga-campeoes fp-medium-radius'>"
			} else if (linha["psv"] in cmp_lugares_eliminatorias_liga_campeoes) {
				html_virtual += "<DIV CLASS='fp-tabela-classificacao-linha-lugar-eliminatoria-liga-campeoes fp-medium-radius'>"
			} else if (linha["psv"] in cmp_lugares_liga_europa) {
				html_virtual += "<DIV CLASS='fp-tabela-classificacao-linha-lugar-liga-europa fp-medium-radius'>"
			} else {
				html_virtual += "<DIV>"
			}
			html_virtual += "<p class='marqueeable'>"+linha["psv"]
			if (cmp_tipo == "Liga") {html_virtual += "º"}
			html_virtual += "</P>"
			html_virtual += "</DIV></TD>"
			
			html_virtual += "<td>"
			if (linha["psv"] < linha_classificacao_real_do_clube["psr"]) {
				html_virtual += "<span style='font-weight:bold;color:green;'>&uarr;</span>"
			}else if (linha["psv"] > linha_classificacao_real_do_clube["psr"]) {
				html_virtual += "<span style='font-weight:bold;color:red;'>&darr;</span>"
			}
			html_virtual += "</td>"
			html_virtual += "<TD value='"+clubes[linha["clu"]]["nome"]+"' style='text-align:left;'>"
			html_virtual += "<P class='marqueeable'><img src='"+clubes[linha["clu"]]["logo"]+"' style='height:14px;margin-right:3px;'>"
			html_virtual += "<A HREF='detalhe_clube?clube="+clubes[linha["clu"]]["id"]+"'>"+clubes[linha["clu"]]["nome"]+"</A></P></TD>"
			html_virtual += "<TD>"+classificacao_real[i]["jr"]+"</TD>"
			
			// VV
			if (linha["vv"] <  linha_classificacao_real_do_clube["vr"]) { 
			   html_virtual += "<TD style='background-color:#FF9999'>"
			} else if (linha["vv"] > linha_classificacao_real_do_clube["vr"]) { 
			   html_virtual += "<TD style='background-color:#99FF99'>"
			} else {
				html_virtual += "<TD>"
			} 
			html_virtual += linha["vv"]+"</TD>"
			
			// EV
			if (linha["ev"] !=  linha_classificacao_real_do_clube["er"]) { 
			   html_virtual += "<TD style='background-color:#9999FF'>"
			}  else {
				html_virtual += "<TD>"
			}
			html_virtual += linha["ev"]+"</TD>"
			
			// DV
			if (linha["dv"] <  linha_classificacao_real_do_clube["dr"]) { 
			   html_virtual += "<TD style='background-color:#FF9999'>"
			} else if (linha["dv"] > linha_classificacao_real_do_clube["dr"]) { 
			   html_virtual += "<TD style='background-color:#99FF99'>"
			} else {
				html_virtual += "<TD>"
			} 
			html_virtual += linha["dv"]+"</TD>"
			
			// GMV
			if (linha["gmv"] <  linha_classificacao_real_do_clube["gmr"]) { 
			   html_virtual += "<TD style='background-color:#FF9999'>"
			} else if (linha["gmv"] > linha_classificacao_real_do_clube["gmr"]) { 
			   html_virtual += "<TD style='background-color:#99FF99'>"
			} else {
				html_virtual += "<TD>"
			} 
			html_virtual += linha["gmv"]+"</TD>"

			// GSV
			if (linha["gsv"] <  linha_classificacao_real_do_clube["gsr"]) { 
			   html_virtual += "<TD style='background-color:#FF9999'>"
			} else if (linha["gsv"] > linha_classificacao_real_do_clube["gsr"]) { 
			   html_virtual += "<TD style='background-color:#99FF99'>"
			} else {
				html_virtual += "<TD>"
			} 
			html_virtual += linha["gsv"]+"</TD>"

			if (cmp_tipo == "Liga") {
				//PV
				if (linha["pv"] <  linha_classificacao_real_do_clube["pr"]) { 
				   html_virtual += "<TD style='background-color:#FF9999'>"
				} else if (linha["pv"] > linha_classificacao_real_do_clube["pr"]) { 
				   html_virtual += "<TD style='background-color:#99FF99'>"
				} else {
					html_virtual += "<TD>"
				} 
				html_virtual += linha["pv"]
				if (linha["pv"] != linha_classificacao_real_do_clube["pr"]) {
				  html_virtual += "<span style='font-size:10px;'> ( "+(linha["pv"]-linha_classificacao_real_do_clube["pr"])+")</span>"
				}
				html_virtual += "</TD>"
			}
			html_virtual += "</TR>"
		}
		
		tabela_classificacao_real.find("tbody").html(html_real)
		tabela_classificacao_virtual.find("tbody").html(html_virtual)	
		jornada_label.html(dados_real["jor_nome"])
		
	})
})
// desenhar a jornada corrente
var quantas_jornadas_ha = classificacao_real_parcial.length
$("#fp_classificacao_range").val(quantas_jornadas_ha)
$("#fp_classificacao_range").trigger("change")

</script>
<script>$(document).ready(function() {
$(".fp-table").tablesorter({textExtraction: function(node) { if ($(node).attr("value")) {return $(node).attr("value")} else {return $(node).html()}}});
$(".marqueeable").each(function() {	addMarquee(this)}) 
tab = get_tab(); tablink = null;
if (tab) tablink = ($("#main-submenu-tab > UL.tabs > LI > A[rel='"+tab+"']"))
if (!tab && jQuery.isEmptyObject($("#main-submenu-tab > UL.tabs > LI.active"))) tablink =  $("#main-submenu-tab > UL.tabs > LI > A:first")
tablink.trigger("click")
})</script>
{% endautoescape %}
{% endspaceless %}