{% extends "admin_main.html" %}
{% block title %}Editar jogo{% endblock %}
{% block content %} 
{% spaceless %}
{% autoescape off %}
{% if flash %}
	{% if flash|startswith:"Err" %}
    <div class="flash-err-msg">{{ flash }}</div>
   {% else %}
	 <div class="flash-ok-msg">{{ flash }}</div>
	{% endif %}
{% endif %}

<DIV style="margin:5px;font-size:12px;">Website: <a href="/detalhe_jogo?id={{obj.lan_jogo.key.id}}">Detalhe do jogo</a> | <a href="/detalhe_jornada?id={{obj.lan_jogo.jog_jornada.key.id}}">Detalhe da jornada</a> | <a href="/detalhe_competicao?id={{obj.lan_jogo.jog_jornada.jor_competicao.key.id}}">Detalhe da competição</a> | <a href="/detalhe_epoca?id={{obj.lan_jogo.jog_jornada.jor_competicao.cmp_epoca.key.id}}">Detalhe da época</a> 
</DIV>

<DIV style="margin:5px;font-size:12px;">Admin: <a href="/admin/jogo/edit?id={{obj.lan_jogo.key.id}}">Editar jogo</a> | <a href="/admin/jornada/edit?id={{obj.lan_jogo.jog_jornada.key.id}}">Editar jornada</a> | <a href="/admin/competicao/edit?id={{obj.lan_jogo.jog_jornada.jor_competicao.key.id}}">Editar competição</a> | <a href="/admin/epoca/edit?id={{obj.lan_jogo.jog_jornada.jor_competicao.cmp_epoca.key.id}}">Editar época</a> 
</DIV>

<DIV CLASS="admin-tabs">
	<UL CLASS="tabs">
		<LI{% ifequal tab "edit" %} CLASS="active"{% endifequal %}>
			<A CLASS="admin-tab-link" rel="edit" href="#" >Editar jogo</A></LI>
		<LI{% ifequal tab "mnew1" %} CLASS="active"{% endifequal %}>
			<A CLASS="admin-tab-link" rel="mnew1" href="#" >Criar jogadores associados</A></LI>
		<LI{% ifequal tab "mnew2" %} CLASS="active"{% endifequal %}>
			<A CLASS="admin-tab-link" rel="mnew2" href="#" >Criar lances associados</A></LI>
		<LI{% ifequal tab "list1" %} CLASS="active"{% endifequal %}>
			<A CLASS="admin-tab-link" rel="list1" href="#" >Listar jogadores</A></LI>
		<LI{% ifequal tab "medit1" %} CLASS="active"{% endifequal %}>
			<A CLASS="admin-tab-link" rel="medit1" href="#" >Editar jogadores associados</A></LI>
		<LI{% ifequal tab "list2" %} CLASS="active"{% endifequal %}>
			<A CLASS="admin-tab-link" rel="list2" href="#" >Listar lances</A></LI>
		<LI{% ifequal tab "medit2" %} CLASS="active"{% endifequal %}>
			<A CLASS="admin-tab-link" rel="medit2" href="#" >Editar lances associados</A></LI>
	</UL>
	<!-- This is used so the contents don't appear to the right of the tabs -->
	<DIV class="clear"></DIV>
	<DIV class="main-tab-content">
		<DIV class="tab_contents{% ifequal tab 'edit' %} tab_contents_active{% endifequal %}" id="edit">
			{{edit}}
		</DIV>
		<DIV class="tab_contents{% ifequal tab 'list1' %} tab_contents_active{% endifequal %}" id="list1" url="/admin/jogador_joga_jogo/list?id={{obj.key.id}}&referrer=jogo&objname=jogador_joga_jogo">
			{{list1}}
		</DIV>
		<DIV class="tab_contents{% ifequal tab 'mnew1' %} tab_contents_active{% endifequal %}" id="mnew1">
			{{mnew1}}
		</DIV>
		<DIV class="tab_contents{% ifequal tab 'medit1' %} tab_contents_active{% endifequal %}" id="medit1">
			{{medit1}}
		</DIV>
		<DIV class="tab_contents{% ifequal tab 'list2' %} tab_contents_active{% endifequal %}" id="list2" url="/admin/lance/list?id={{obj.key.id}}&referrer=jogo&objname=lance">
			{{list2}}
		</DIV>
		<DIV class="tab_contents{% ifequal tab 'mnew2' %} tab_contents_active{% endifequal %}" id="mnew2">
			{{mnew2}}
		</DIV>
		<DIV class="tab_contents{% ifequal tab 'medit2' %} tab_contents_active{% endifequal %}" id="medit2">
			{{medit2}}
		</DIV>
	</DIV>
</DIV>

{% endautoescape %}
{% endspaceless %}
{% endblock %}