{# novos jogo a mando de uma jornada #}
{% if new_for_parent_id %}
<form action="/admin/jogo/new?{{ this_id }}={{ obj.key.id }}" method="post">
{% endif %}

{# editar um jogo existente #}
{% if edit %}
<form action="/admin/jogo/save" method="post">
	<input type='hidden' name='id' value='{{ obj.key.id }}'>
{% endif %}	

{# novo jogo sem estar preso a jornada #}
{% if new_single %}
<form action="/admin/jogo/new" method="post">
{% endif %}	

{% if edit %}
<DIV style="margin:10px;">Editar jogo {{obj.jog_nome}}</DIV>
{% endif %}

<table>
	<tr><td>
		<table><tr>
			<td>Jornada: 
			<div style="display:inline;">
			{% if new_for_parent_id %}<B>{{obj.jog_jornada.jor_nome}}</B>
			{% else %}
			<input type="text" name="jog_jornada" id="jog_jornada" size=30/ placeholder="201X/201X:Liga:30"{% if edit %} value="{{obj.jog_jornada.jor_nome}}"{% endif %}>
			{% endif %}	
			</div>
		
			<div style="display:inline;">
				<input class="datepicker-datetime" type="text" name="jog_data" id="jog_data_single" size=20 {% if edit %}value="{{obj.jog_data|pp_year_month_day_hour_minute}}"{% endif %} placeholder="2011-01-01 00:00"/>
			</div>
			
			<div style="display:inline;">
			Árbitro: 
			
			<a href="#" class="toogleDisplay">[x]</a>
			<div style="display:inline;">
						
			<select size=1 name="jog_arbitro_id" id="jog_arbitro_id"/>
			<option value="">--</option>
			{% for arbitro in arbitros %}
				<option value="{{arbitro.key.id}}" {% if edit %}{% ifequal obj.jog_arbitro.arb_nome arbitro.arb_nome %} SELECTED{% endifequal %}{% endif %}>{{arbitro.arb_nome}}</option>
				{% endfor %}
			</select>	
			</div>
			
			<div style="display:none;">
			<input class="aware-change nome_arbitro_autocomplete" type="text" AUTOCOMPLETE="OFF" size="20" id="jog_arbitro" name="jog_arbitro" placeholder="Árbitro" {% if multiple_edit %}  value='{{obj.jog_arbitro.arb_nome}}'{% endif %}>
			</div>
			
			</div>

		</td>
		</tr></table>
	</td></tr>
	<tr><td>
		<table><tr>
			<td>Clube/golos:
				<div style="display:inline;">
				<select size=1 name="jog_clube1_id" id="jog_clube1_id"/>
				{% for clube in clubes %}
				<option value="{{clube.key.id}}" {% if edit %}{% ifequal obj.jog_clube1.clu_nome clube.clu_nome %} SELECTED{% endifequal %}{% endif %}>{{clube.clu_nome_curto}}</option>
				{% endfor %}
				</select>	
				
				<input type="number" min="0" step="1" name="jog_golos_clube1" id="jog_golos_clube1" size=6{% if edit %} value="{{obj.jog_golos_clube1}}"{% endif %}/> - 
			<input type="number" min="0" step="1" name="jog_golos_clube2" id="jog_golos_clube2" size=6{% if edit %} value="{{obj.jog_golos_clube2}}"{% endif %}/>	<select size=1 name="jog_clube2_id" id="jog_clube2_id"/>
				{% for clube in clubes %}
				<option value="{{clube.key.id}}" {% if edit %}{% ifequal obj.jog_clube2.clu_nome clube.clu_nome %} SELECTED{% endifequal %}{% endif %}>{{clube.clu_nome_curto}}</option>
				{% endfor %}
				</select>
				</div>
				
				<div style="display:inline;">
				Tácticas: 
			<select size=1 name="jog_tactica_clube1" id="jog_tactica_clube1"/>
			<option value="">--</option>
			{% for tactica in tacticas %}
				<option value="{{tactica}}" {% if edit %}{% ifequal obj.jog_tactica_clube1 tactica %} SELECTED{% endifequal %}{% endif %}>{{tactica}}</option>
				{% endfor %}
			</select> - 
			<select size=1 name="jog_tactica_clube2" id="jog_tactica_clube2"/>
			<option value="">--</option>
			{% for tactica in tacticas %}
				<option value="{{tactica}}" {% if edit %}{% ifequal obj.jog_tactica_clube2 tactica %} SELECTED{% endifequal %}{% endif %}>{{tactica}}</option>
				{% endfor %}
			</select>	
			</div>
		</td>
		</tr></table>
	</td></tr>
	<tr><td>
		<table><tr>
			<td>
				<div style="display_inline;">
				
		<table>
			{% if edit %}
			{% for site in obj.jog_link_sites %}
			<tr class='toDuplicate1'><td><input type="text" name="jog_link_sites" id="jog_link_sites" size=30 value="{{site}}" placeholder="Links externos"/></td></tr>
			{% endfor %}
			{% endif %}
			<tr class='toDuplicate1'><td><input type="text" name="jog_link_sites" id="jog_link_sites" size=30  placeholder="Links externos"/></td></tr>
			<tr><td>
				<a href="#" class='duplicate-input-link' what="toDuplicate1"><img src='img/plus.gif'></a> 
				<a href="#" class='remove-input-link' what='toDuplicate1'><img src='img/minus.gif'></a>
			</td></tr>
		</table>
		</div>
	</td>
	
	<td>
		<div style="display:inline;">
		<table style="width:250px;">
			{% if edit %}
			{% for video in obj.jog_link_videos %}
			<tr class='toDuplicate2'><td><textarea name="jog_link_videos" id="jog_link_videos" style="width:200px;height:30px;" placeholder="Vídeos"/>{{video}}</textarea>
			</td></tr>
			{% endfor %}
			{% endif %}	
			<tr class='toDuplicate2'><td><textarea name="jog_link_videos" id="jog_link_videos" style="width:200px;height:30px;" placeholder="Vídeos"/></textarea>
			<tr><td>
	 		<a href="#" class='duplicate-input-link' what="toDuplicate2"><img src='img/plus.gif'></a>
	 		<a href="#" class='remove-input-link' what='toDuplicate2'><img src='img/minus.gif'></a>
		</td></tr>
		</table>
		</div>
	</td>
	<td>
		<div style="display:inline;">
<textarea name="jog_comentario" id="jog_comentario" style="width:300px;height:50px;" placeholder="Comentários"/>{% if edit %}{{obj.jog_comentario}}{% endif %}</textarea>
		</div>
		</tr></table>
	</td></tr>
	<tr>
		<td colspan="2" style="margin-top:10px;"><input style="width:300px;" type="submit" value="{% if edit %}Editar{% else %}Criar novo{% endif %} jogo"/></td>
	</TR>
</TABLE>
</form>
