<form action="/admin/acumulador_competicao/new" method="post">
	<table>
	<tr>
		<td><label for="acuc_competicao">Competição</label></td>
		<td><input type="text" name="acuc_competicao" id="acuc_competicao" size=80 value="2011/2012:Liga"/></td>
	</tr>
	<tr>
		<td><label for="acuc_versao">Versão</label></td>
		<td><input type="text" name="acuc_versao" id="acuc_versao" size=20 value="2"/></td>
	</tr>
	{% if edit %}
	<tr>
		<td>Conteúdos:</td>
		<td>{{obj.acuc_content}}</td>
	</tr>
	{% endif %}

	<tr><td colspan=2><input type="checkbox" class="maintasker">Seleccionar  todas as tarefas</td></tr>
		
	<tr>
		<td colspan=2>
		<input type="checkbox" id="acuc_basico_checkbox" name="acuc_basico" checked> Básicos (árbitro, jogo, jogador, clube)
		</td>
	</tr><tr>	
		<td colspan=2>
		<input type="checkbox" id="acuc_classificacao_checkbox" name="acuc_classificacao" checked> Classificação (real e virtual)
		</td>
	</tr><tr>	
		<td colspan=2>
		<input type="checkbox" id="acuc_tabela_icc_checkbox" name="acuc_tabela_icc" checked> Tabela ICC
		</td>
	</tr><tr>	
		<td colspan=2>
		<input type="checkbox" id="acuc_icc_checkbox" name="acuc_icc" checked> ICC&#0153;
		</td>
	</tr><tr>	
		<td colspan=2>
		<input type="checkbox" id="acuc_top_arbitros_checkbox" name="acuc_top_arbitros" checked> Top árbitros
		</td>
	</tr><tr>	
		<td colspan=2>
		<input type="checkbox" id="acuc_top_jogos_checkbox" name="acuc_top_jogos" checked> Top jogos
		</td>
	</tr><tr>	
		<td colspan=2>
		<input type="checkbox" id="acuc_top_jogadores_checkbox" name="acuc_top_jogadores" checked> Top jogadores
		</td>
	</tr><tr>	
		<td colspan=2>
		<input type="checkbox" id="acuc_top_clubes_checkbox" name="acuc_top_clubes" checked> Top clubes
		</td>
	</tr>

	<tr>
		<td colspan="2">Nota: o acumulador re-escreve sobre um acumulador da mesma competição</td>
	</tr>

	<tr>
		<td colspan="2"><input type="submit" value="Criar novo acumulador de competição"/></td>
	</tr>
	</table>
</form>