
{# novos ctj a mando de uma competicao #}
{% if new_for_parent_id %}
<form action="/admin/{{objname}}/new?{{ this_id }}={{ obj.key.id }}" method="post">
{% endif %}

{# editar um ctj existente #}
{% if edit %}
<form action="/admin/{{objname}}/save" method="post">
	<input type='hidden' name='id' value='{{ obj.key.id }}'>
{% endif %}	

{% if new_single %}
<form action="/admin/{{objname}}/new" method="post">
{% endif %}	

<table>	
	<tr>
		<td><label for="ctj_jogador">Nome do jogador</label></td>
		<td><input type="text" class="nome_jogador_autocomplete" AUTOCOMPLETE="OFF" size="40" id="ctj_jogador" name="ctj_jogador">
		</td>
	</tr>

	<tr>
		<td>Clube</td>
		<td><select size=1 name="ctj_clube_id" id="ctj_clube_id"/>
			<option value="">--</option>
				{% for clube in clubes %}
				<option value="{{clube.key.id}}" {% if edit %}{% ifequal obj.ctj_clube.clu_nome clube.clu_nome %} SELECTED{% endifequal %}{% endif %}>{{clube.clu_nome}}</option>
				{% endfor %}
			</select>
		</td>
	</tr>

	<tr>
		<td>Épocas</td>
		<td><select id="ctj_epocas_id" name="ctj_epocas_id" size=4 multiple>
			{% for epoca in epocas %}
				<option value="{{epoca.key.id}}" {% if multiple_edit and obj|has_element:i and obj|get_element:i|attribute:"ctj_epocas"|isinlist:epoca.key %} SELECTED{% endif %}>{{epoca.epo_nome}}</option>
			{% endfor %}
		</select>
		</td>
	</tr>

	<tr>
		<td><label for="ctj_numero">Número de camisola</label></td>
		<td><input type="text" name="ctj_numero" id="ctj_numero"/ size=5></td>
	</tr>
	
	<tr>
		<td colspan="2"><input type="submit" value="Associar jogador ao clube"/></td>
	</tr>
	</table>
</form>