{% spaceless %}
{% if flash %}
	{% if flash|startswith:"Err" %}
    <div class="flash-err-msg fp-shadow fp-medium-radius">{{ flash }}</div>
   {% else %}
	 <div class="flash-ok-msg fp-shadow fp-medium-radius">{{ flash }}</div>
	{% endif %}
{% endif %}
{% autoescape off %}
{% if arbitro %} 

{% if user_is_admin %}
    <div><a href="/admin/arbitro/edit?id={{arbitro.key.id}}">Administrar árbitro</a></div>
{% endif %}

<div class="fp-video-box fp-shadow fp-medium-radius" id="fp-fixed-video-screen-div" style="display:none;">
	<a href="#" class="minimize-video" style="text-align:left;display:block;font-size:10px;height:10px;">[x] Esconder</A> 
	<div id="fp-fixed-video-screen"></div>
</DIV>

<div CLASS="waiting-div-container ">
	<DIV CLASS="waiting-div fp-medium-radiu" style="display:none;">
		<DIV CLASS="waiting-div-message fp-shadow fp-medium-radius"></div>
	</DIV> 
</div>

<div style="height:70px;margin-left:20px;">
	<div style="margin: auto; display: inline-block; height: 150px;">
		<DIV class="fp-jogador-img fp-shadow">
			<img style="height:100px;-moz-border-radius:8px;" src="{{arbitro.arb_link_foto}}"></DIV>
		<DIV style="float:left;display:inline-block;height:100px;margin-left:20px">
			<DIV style="font-size:30px;">{{arbitro.arb_nome}}</DIV> 
		</DIV>
	</DIV>	
</DIV>	

<DIV style="width:100%;text-align:center;">
<DIV ID="main-submenu" CLASS="fp-shadow">
	<UL>
		<LI CLASS="main-submenu-firstitem">
			<A ID="detalhe_arbitro_sumario" CLASS="submenu-link" href="#" 
			TARGET_DIV="main-ajax-content" 
			TARGET_SERVICE="detalhe_arbitro_sumario"
			TARGET_ID="{{arbitro.key.id}}">Sumário</A></LI>
		<LI>
			<A ID="detalhe_arbitro_jogos" CLASS="submenu-link" href="#" 
			TARGET_DIV="main-ajax-content" 
			TARGET_SERVICE="detalhe_arbitro_jogos"
			TARGET_ID="{{arbitro.key.id}}">Jogos</A></LI>
		<LI>
			<A ID="detalhe_arbitro_lances" CLASS="submenu-link" href="#" 
			TARGET_DIV="main-ajax-content" 
			TARGET_SERVICE="detalhe_arbitro_lances"
			TARGET_ID="{{arbitro.key.id}}">Lances</A></LI>
		<LI>
			<A ID="detalhe_arbitro_clubes" CLASS="submenu-link" href="#" 
			TARGET_DIV="main-ajax-content" 
			TARGET_SERVICE="detalhe_arbitro_clubes"
			TARGET_ID="{{arbitro.key.id}}">Clubes</A></LI>
		<LI>
			<A ID="detalhe_arbitro_jogadores" CLASS="submenu-link" href="#" 
			TARGET_DIV="main-ajax-content" 
			TARGET_SERVICE="detalhe_arbitro_jogadores"
			TARGET_ID="{{arbitro.key.id}}">Jogadores</A></LI>
		<LI CLASS="main-submenu-lastitem">
			<SELECT id="epoca" name="epoca" style="margin-right:10px;margin-left:10px;margin-top: 5px;">
			<OPTION VALUE="2012/2013"{% if epoca.epo_nome|eq:"2012/2013" %} SELECTED{% endif %}>2012/2013</OPTION>
			<OPTION VALUE="2011/2012"{% if epoca.epo_nome|eq:"2011/2012" %} SELECTED{% endif %}>2011/2012</OPTION>
			<OPTION VALUE="2010/2011"{% if epoca.epo_nome|eq:"2010/2011" %} SELECTED{% endif %}>2010/2011</OPTION>
			</SELECT>
			</LI>	
	</UL>
</DIV>		
</DIV>


<DIV id="main-ajax-content"></div>

<script>$(document).ready(function() {
	var whereto = "detalhe_arbitro_sumario"
	querystring = window.location.search
	service = querystring.match(/menu=([a-zA-Z0-9_]+)/) 
	if (service != null)
		whereto = service[1]
	$("#"+whereto).trigger('click');
})</script>

<div style="margin:10px;">
{% if request.url|doesntstartswith:"http://localhost" %}
<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/{{ settings.disqus }}/embed.js"></script>
<noscript><a href="http://{{ settings.disqus }}.disqus.com/?url=ref">Ver comentários.</a></noscript>
{% endif %}
<div><a href="/agradecimentos">Fonte dos dados</a></div>
</div>

{% else %}
Árbitro inexistente.
{% endif %}
{% endautoescape %}
{% endspaceless %}
