{% extends "main.html" %}
{% block title %}Agradecimentos{% endblock %}
{% block content %} 
{% spaceless %}
<DIV style="margin:10px;">
	<H2>Agradecimentos</H2>
<UL>
	<LI>Ao jornal <a href="http://www.ojogo.pt">O Jogo</a>, pela secção "Tribunal do Jogo".</LI>
	<LI>Ao sítio <a href="http://www.zerozero.pt">zerozero.pt</a>, pela informação detalhada de jogadores, 
	clubes, árbitros e jogos, bem como o fornecimento de imagens.</LI>
	<LI>À comunidade beta-testar do <a href="http://forum.autohoje.com">FAHO</A>.</LI>
	<LI>A <a href="http://www.rlopes.net">Rui Lopes</A>, pelas dicas em alojamento e em desenvolvimento.</LI>
	<LI>Ao RMOS, pelos scans do Tribunal d'O Jogo.</LI>
</UL>
	
<H2>Referências</H2>

<UL>
	<LI>Módulos usados: blog <a href="http://github.com/joeyb/joeyb-blog/"> de http://www.joeyb.org</a>, e o paginador <a href="http://code.google.com/p/he3-appengine-lib/wiki/PagedQuery">PagedQuery</a>.</LI>
	<LI>CSS: a <A href="http://nicolasgallagher.com">Nicolas Gallagher</A>, pelo CSS <a href="http://nicolasgallagher.com/demo/pure-css-speech-bubbles/bubbles.css">Bubbles</A>.
	<LI>Serviço feedback: <a href="http://uservoice.com/">UserVoice</A>. 
	<LI><a href="http://foipenalti.disqus.com">Serviço de comentários</A> fornecido pela <a href="http://www.disqus.com">Discus</A>
	<LI>Fonte de dados de árbitros, jogos, clubes e jogadores:  <a href="http://www.maisfutebol.iol.pt">MaisFutebol</a>, <a href="http://www.zerozero.pt">zerozero.pt</a>, <a href="http://www.foradejogo.net">ForaDeJogo.net</a></DIV>
	<LI>Fontes de lances: Jornal <a href="http://www.ojogo.pt">O Jogo</a>
	<LI>Fontes de vídeos: <a href="http://desporto.sapo.pt/">SAPO Desporto</a>, <a href="http://www.matchhighlights.org/">MatchHighlights</a></DIV> 
</UL>

<H2>Recomendações</H2>

<UL>
	<LI><A href="http://www.whit.me">Whit.me URL shortener</A>
	<LI><A href="hortadasvespas.blogspot.com">Blog "Horta das Vespas"</A>
</UL>
</DIV>
{% endspaceless %}
{% endblock %}
