{% extends "main.html" %}
{% block title %}Contactos{% endblock %}
{% block content %} 
{% spaceless %}
<DIV style="margin:10px;">
	<H2>Contactos</H2>

	Mail: <a href="mailto:foipenalti@foipenalti.com">foipenalti@foipenalti.com</a>
	
<H2>Autor:</H2>
	
<img style="float:left; margin:10px;" src="http://a2.twimg.com/profile_images/1109160638/avatar_bigger.png">
	Nuno Cardoso<BR>
	+47 986 548 19<BR>
	<a href="http://www.twitter.com/nunocardoso">Segue-me no Twitter</a>
</div>
{% endspaceless %}
{% endblock %}