{% extends "main.html" %}
{% block title %}Lance #{{lance.lan_numero}}, jogo {{lance.lan_jogo.jog_clube1.clu_nome_curto}} {{lance.lan_jogo.jog_golos_clube1}} - {{lance.lan_jogo.jog_golos_clube2}} {{lance.lan_jogo.jog_clube2.clu_nome_curto}}{% endblock %}
{% block content %} 
{% spaceless %}
{% if flash %}
	{% if flash|startswith:"Err" %}
    <div class="flash-err-msg fp-shadow fp-medium-radius">{{ flash }}</div>
   {% else %}
	 <div class="flash-ok-msg fp-shadow fp-medium-radius">{{ flash }}</div>
    {% endif %}
{% endif %}

<div style="position:relative">
	{% if lance_anterior %}
	<div style="position:absolute;left:15px;top:30px;">
		<a href="/detalhe_lance?id={{lance_anterior.key.id}}">&larr; Lance número {{lance_anterior.lan_numero}}</a>
	</div>
	{% endif %}
	{% if lance_posterior %}
	<div style="position:absolute;right:15px;top:30px;">
		<a href="/detalhe_lance?id={{lance_posterior.key.id}}">Lance número {{lance_posterior.lan_numero}} &rarr;</a>
	</div>
	{% endif %}
</div>	

<div style="text-align:center;margin:10px;"><H3>Lance número {{lance.lan_numero}} do 
	<a href="/detalhe_jogo?id={{lance.lan_jogo.key.id}}">{{lance.lan_jogo.jog_clube1.clu_nome_curto}} {{lance.lan_jogo.jog_golos_clube1}} - {{lance.lan_jogo.jog_golos_clube2}} {{lance.lan_jogo.jog_clube2.clu_nome_curto}}</a><BR><a href="/detalhe_jornada?id={{lance.lan_jogo.jog_jornada.key.id}}">{{lance.lan_jogo.jog_jornada.jor_nome_completo}}</a> da <a href="/detalhe_competicao?id={{lance.lan_jogo.jog_jornada.jor_competicao.key.id}}">{{lance.lan_jogo.jog_jornada.jor_competicao.cmp_nome_completo}}</a> - <a href="/detalhe_epoca?id={{lance.lan_jogo.jog_jornada.jor_competicao.cmp_epoca.key.id}}">{{lance.lan_jogo.jog_jornada.jor_competicao.cmp_epoca.epo_nome}}</a></H3></DIV>


<HR width="97%" color="#888" style="margin-top:5px; margin-bottom:20px;">

{{lance_html}}

<!-- comentarios -->
	{% if lance.lan_comentario %}
	{% if jogo.jog_comentario %}
	<div class="fp-comentario-box fp-medium-radius fp-shadow">
		<IMG style='float:left; margin-right:10px;height:50px;' src='{{settings.image_avatar}}'>
		<div style="text-align:left;width:100%;"><P>&#8220{{lance.lan_comentario}}&#8221</P></DIV>
	</DIV>
	{% endif %}
	{% endif %}

<!-- detalhe icc -->

	<div class="fp-subtitulo" style="margin:10px;text-align:center;">Detalhe do ICC&#0153;</div> 
		<div class="fp-table-wrapper">
			<div style="text-align:left;font-size:12px;margin-bottom:10px;">Nota: só serão apresentados os lances onde o árbitro errou, e que efectivamente contam para o ICC&#0153;.</div>
	
			<div id="fp-detalhe-icc" style="margin-left:auto;margin-right:auto;width:800px;">
				<table id="fp-detalhe-icc-table" style="table-layout:fixed;width:800px;font-size:12px">
					<tr style="border-top:1px solid black;">
						<th rowspan=2 style="text-align:center;width:350px;">Jogos / lances</th>
				
						<th colspan=4 style="width:400px;text-align:center;">Factores e pesos</th>
						<th rowspan=2 style="width:60px;">ICC&#0153;</th>
					</tr>
					<tr>
						<th style="width:250px;">Tipo<BR>de lance</th>	
						<th style="width:40px;">Tempo<BR>de jogo</th>	
						<th style="width:50px;">Resultado<BR>na altura</th>	
						<th style="width:30px;">Risco<BR>do jogo</th>	
					</tr>	

					<tr><td colspan=6 style="padding:0px; height:1px; background-color:#888;"></td></tr>

{% for item in detalhe_icc_jogos %} 
<!-- jogo header -->
<tr style="text-align:left;">
	<td>
		<P class="marqueeable">
			<B><a href="/detalhe_jornada?id={{item.jogo.jog_jornada.key.id}}"> {{item.jogo.jog_jornada.jor_nome_completo}}</A></B>: 
			<a href="/detalhe_jogo?id={{item.jogo.key.id}}">{{item.jogo|printjogo}}</a>
		</P>
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<!-- lance list -->
{% for lance in item.lances %}
<tr style="text-align:center;font-size:16px;">
	<td style="text-align:left;font-size:12px;">
		<B>Lance {{lance.num}}, aos {{lance.min}}'</B>
	</td>
	<td>{{lance.p_cla}}</td>
	<td>{{lance.p_tmp}}</td>
	<td>{{lance.p_res}}</td>
	<td>{{lance.p_ris}}</td>
	<td rowspan=2>
	<div style="float:right;font-size:14px;">{{lance.icc1}}</div>
	</td>
</tr>
<tr style="text-align:center;color:gray;">
	<td style="text-align:left;color:black;">
		<a href="detalhe_lance?id={{lance.id}}"><I>{{lance.descricao}}</I></a>
	</td>
	<td><p class="marqueeable"><I>{{lance.d_cla|translate_classe_lance}}</I></P></td>
	<td><p class="marqueeable"><span class="color:#CCC;font-size:10px;">{{lance.d_tmp|translate_tempo_lance}}</span></P></td>
	<td><p class="marqueeable"><span class="color:#CCC;font-size:10px;">{{lance.d_res}}</span></P></td>
	<td><p class="marqueeable"><span class="color:#CCC;font-size:10px;">{{lance.d_ris|translate_risco_jogo}}</span></P></td>
</tr>
{% endfor %}

<!-- bonus -->

{% if item.bonus %}
<tr style="text-align:left;">
	<td rowspan=2><B><span style="color:red;">Agravamento:</span></B><BR>
O resultado podia ser: {{item.jogo.jog_clube1.clu_nome_curto}} {{item.bonus.rv}}  {{item.jogo.jog_clube2.clu_nome_curto}}</td>
	<td colspan=3 style="text-align:center;font-size:16px;">{{item.bonus.p_agr}}</td>
	<td style="text-align:center;font-size:16px;">{{item.bonus.p_ris}}</td>
	{% if item.bonus.dn|eq:1 %}
	<td colspan=2><div style="float:right;font-size:14px;color:gray;">{{item.bonus.icc1}}</div></td>
	{% endif %}
	{% if item.bonus.clu1|eq:clube.key.id and item.bonus.dn|eq:2 %}
	<td><div style="float:right;font-size:14px;color:red;">{{item.bonus.icc1}}</div></td>
	<td></td>
	{% endif %}
	{% if item.bonus.clu2|eq:clube.key.id and item.bonus.dn|eq:3 %}
	<td><div style="float:right;font-size:14px;color:red;">{{item.bonus.icc2}}</div></td>
	<td></td>
	{% endif %}

	{% if item.bonus.clu1|eq:clube.key.id and item.bonus.dn|eq:3 %}
	<td></td>
	<td><div style="float:right;font-size:14px;color:green;">{{item.bonus.icc1}}</div></td>
	{% endif %}
	{% if item.bonus.clu2|eq:clube.key.id and item.bonus.dn|eq:2 %}
	<td></td>
	<td><div style="float:right;font-size:14px;color:green;">{{item.bonus.icc2}}</div></td>
	{% endif %}
</tr>
<tr style="text-align:center;color:gray;">
	<td colspan=3><P class="marqueeable">{{item.bonus.d_agr|translate_classe_lance}}</P></td>
	<td>{{item.bonus.d_ris|translate_risco_jogo}}</td>
</tr>
{% endif %}
<tr><td colspan=6 style="padding:0px; height:1px; background-color:#888;"></td></tr>
{% endfor %}

					</table>
				</div>
			</div>
<!-- fim detalhe icc -->




<!-- videos -->
<div style="text-align:center;width:100%;display:inline-block;font-size:20px;margin:10px;">Vídeos do lance</DIV>	
<div class="fp-videos" style="width:100%;text-align:center;">
	{% if lance.lan_link_videos %}

	<div id="fp-video-container" style="min-width:470px; margin:auto; text-align:center;"  class="fp-video-box fp-shadow fp-medium-radius">
		<div id="fp-video-links" style="float:left; width:120px; min-height:300px;">
		{% for video in lance.lan_link_videos %}
			<A class="fp-watch-video fp-link-video" href="#" VIDEO_HTML="{{video|urlencode}}" 
		 	TARGET_DIV="fp-lance-video-screen">#{{forloop.counter}} {{video|getvideosource}}</A>
		{% endfor %}
		</div>
		<div id="fp-lance-video-screen" style="min-width:300px;min-height:300px;float:left;">
			{{lance.lan_link_videos|getfirstvideo}}
		</div>		
	</div>
{% else %}
	<div style="text-align:center;">Não há vídeos para este jogo.</div>
{% endif %}
</div>

<script>$(document).ready(function() {
$(".marqueeable").each(function() {	addMarquee(this)}) 
tab = get_tab(); tablink = null;
if (tab) tablink = ($("#main-submenu-tab > UL.tabs > LI > A[rel='"+tab+"']"))
if (!tab && jQuery.isEmptyObject($("#main-submenu-tab > UL.tabs > LI.active"))) tablink =  $("#main-submenu-tab > UL.tabs > LI > A:first")
tablink.trigger("click")
})</script>

<div style="margin:10px;">
{% if request.url|doesntstartswith:"http://localhost" %}
<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/{{ settings.disqus }}/embed.js"></script>
<noscript><a href="http://{{ settings.disqus }}.disqus.com/?url=ref">Ver comentários.</a></noscript>
{% endif %}
<div><a href="/agradecimentos">Fonte dos dados</a></div>
</div>
{% endspaceless %}
{% endblock %}