{% extends "main.html" %}
{% block title %}
{% if jogo %}{{jogo|printjogo}}{% endif %}
{% endblock %}
{% block content %} 
{% spaceless %}
{% if flash %}
	{% if flash|startswith:"Err" %}
    <div class="flash-err-msg fp-shadow fp-medium-radius">{{ flash }}</div>
   {% else %}
	 <div class="flash-ok-msg fp-shadow fp-medium-radius">{{ flash }}</div>
	{% endif %}
{% endif %}
{% if jogo %} 
<div class="fp-video-box fp-shadow fp-medium-radius" id="fp-fixed-video-screen-div" style="display:none;">
	<a href="#" class="minimize-video" style="text-align:left;display:block;font-size:10px;height:10px;">[x] Esconder</A> 
	<div id="fp-fixed-video-screen"></div>
</DIV>

<table id="fp-ficha-jogo" style="margin:auto;margin-top:20px;margin-bottom:20px;">
	<tr>
		<td colspan="2">
			<div class="fp-ficha-jogo-emblema-esquerda">
			<a href="detalhe_clube?id={{jogo.jog_clube1.key.id}}"><img src="{{jogo.jog_clube1.clu_link_logo}}"></a></DIV>
		</td>
		<td><div style="width:20px;"></div></td>
		<td colspan="2">
			<div class="fp-ficha-jogo-emblema-direita">
			<a href="detalhe_clube?id={{jogo.jog_clube2.key.id}}"><img src="{{jogo.jog_clube2.clu_link_logo}}"></A></DIV>
		</td>
	</tr>

	<tr>
		<td class="fp-ficha-jogo-clube-esquerda">
			<a href="detalhe_clube?id={{jogo.jog_clube1.key.id}}">
				{{jogo.jog_clube1.clu_nome_curto}}</A></td>
		<td class="fp-ficha-jogo-golos-esquerda">{{jogo.jog_golos_clube1|filternone}}</td>
		<td style="font-size:36px;text-align:center;">-</td>
		<td class="fp-ficha-jogo-golos-direita">{{jogo.jog_golos_clube2|filternone}}</td>
		<td class="fp-ficha-jogo-clube-direita">
			<a href="detalhe_clube?id={{jogo.jog_clube2.key.id}}">
					{{jogo.jog_clube2.clu_nome_curto}}</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:right;">
			{{jogo.jog_data|pp_dayweek_day_month}}, às {{jogo.jog_data|pp_hour}}
		</td>
		<td><div style="width:20px;"></div></td>
		<td colspan="2" style="text-align:left;">
			Árbitro: <a href="/detalhe_arbitro?id={{jogo.jog_arbitro.key.id}}">{{jogo.jog_arbitro.arb_nome}}</a>
		</td>
	</tr>
	<!-- data e árbitro -->
</table>	
	
<DIV id="main-submenu-tab">
	<UL CLASS="tabs">
		<LI CLASS="active">
			<A CLASS="main-submenu-tab-link" rel="ficha" href="#">Ficha de jogo</A>
		</LI>
		<LI>
			<A CLASS="main-submenu-tab-link" rel="lances" href="#">Lances</A>
		</LI>
		<LI>
			<A CLASS="main-submenu-tab-link" rel="videos" href="#">Vídeos</A>
		</LI>
	</UL>	
	<DIV class="clear"></DIV>
	<DIV class="main-tab-content">

<!-- início ficha -->
		<DIV class="tab_contents tab_contents_active" id="ficha" style="margin-top:10px;">

		<div class="main-center">
			{{ficha_de_jogo_html}}
		</div>
	
		<!-- comentarios -->
		{% if jogo.jog_comentario %}
		<div class="fp-comentario-box fp-medium-radius fp-shadow">
			<IMG style='float:left; margin-right:10px;height:50px;' src='{{settings.image_avatar}}'>
			<div style="text-align:left;width:100%;"><P>&#8220{{jogo.jog_comentario}}&#8221</P></DIV>
		</DIV>
		{% endif %}

		</DIV>

<!-- lances -->

		<DIV class="tab_contents" id="lances" style="margin-top:10px;">

		<div style="margin-left:10px;">
		{% if lances_html %}

			<!-- summimg-up dos lances-->
			<div style="width:100%;margin:20px;">
				{{sumario_actuacao_arbitro_html}}
			</div>

			<div>
			{% for lance in lances_html %}
				{{lance}}
				<HR width="97%" color="#888" style="margin-top:5px; margin-bottom:20px;">
			{% endfor %}
			</div>
		
		<!-- end lances -->
		{% else %}
			<div style="text-align:center;">Não há lances para este jogo.</div>
		{% endif %}
		</div>
	
		</div>

<!-- videos -->

		<DIV class="tab_contents" id="videos"style="margin-top:10px;">

		<div class="fp-videos" style="width:100%;text-align:center;">
			{% if jogo.jog_link_videos %}

			<div id="fp-video-container" style="min-width:470px; margin:auto; text-align:center;"  class="fp-video-box fp-shadow fp-medium-radius">
				<div id="fp-video-links" style="float:left; width:120px; min-height:300px;">
		{% for video in jogo.jog_link_videos %}
			<A class="fp-watch-video fp-link-video" href="#" VIDEO_HTML="{{video|urlencode}}" 
			{# resizeHeightKeepRatio:300| #}
		 	TARGET_DIV="fp-game-video-screen">#{{forloop.counter}} {{video|getvideosource}}</A>
		{% endfor %}
				</div>
				<div id="fp-game-video-screen" style="min-width:300px;min-height:300px;float:left;">
					{{jogo.jog_link_videos|getfirstvideo}}
				</div>		
			</div>
			{% else %}
			<div style="text-align:center;">Não há vídeos para este jogo.</div>
			{% endif %}
		</div>
		</div>

<!--fim tabs -->	
		</DIV>
	</DIV>
</DIV>

<script>$(document).ready(function() {
$(".marqueeable").each(function() {	addMarquee(this)}) 
tab = get_tab(); tablink = null;
if (tab) tablink = ($("#main-submenu-tab > UL.tabs > LI > A[rel='"+tab+"']"))
if (!tab && jQuery.isEmptyObject($("#main-submenu-tab > UL.tabs > LI.active"))) tablink =  $("#main-submenu-tab > UL.tabs > LI > A:first")
tablink.trigger("click")
})</script>

<div style="margin:10px;">
{% if request.url|doesntstartswith:"http://localhost" %}
<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/{{ settings.disqus }}/embed.js"></script>
<noscript><a href="http://{{ settings.disqus }}.disqus.com/?url=ref">Ver comentários.</a></noscript>
{% endif %}
<div><a href="/agradecimentos">Fonte dos dados</a></div>
</div>
{% else %}
Jogo inexistente.
{% endif %}
{% endspaceless %}
{% endblock %}