{% autoescape off %}
{% spaceless %}
{% if flash %}
	{% if flash|startswith:"Err" %}
    <div class="flash-err-msg fp-shadow fp-medium-radius">{{ flash }}</div>
   {% else %}
	 <div class="flash-ok-msg fp-shadow fp-medium-radius">{{ flash }}</div>
	{% endif %}
{% endif %}
{% if jogo %} 

<div style="position:relative">
	{% if jogo_anterior_clube1 or jogo_anterior_clube2 %}
	<div style="position:absolute;left:15px;top:30px;">
		<a href="/detalhe_jornada?id={{jornada_anterior.key.id}}"> {{jornada_anterior.jor_nome_completo}}</a>
	</div>	
	{% endif %}
	{% if jogo_posterior_clube1 or jogo_posterior_clube2 %}
	<div style="position:absolute;right:15px;top:30px;">
		<a href="/detalhe_jornada?id={{jornada_posterior.key.id}}"> {{jornada_posterior.jor_nome_completo}}</a>
	</div>	
	{% endif %}
	
	{% if jogo_anterior_clube1 %}
	<div style="position:absolute;left:15px;top:50px;">
		<a href="/detalhe_jogo?id={{jogo_anterior_clube1.key.id}}">&larr; {{jogo_anterior_clube1|printjogo4clube:jogo.jog_clube1.key.id}}</a>
	</div>
	{% endif %}
	{% if jogo_anterior_clube2 %}
	<div style="position:absolute;left:15px;top:70px;">
		<a href="/detalhe_jogo?id={{jogo_anterior_clube2.key.id}}">&larr; {{jogo_anterior_clube2|printjogo4clube:jogo.jog_clube2.key.id}}</a>
	</div>
	{% endif %}
	{% if jogo_posterior_clube1 %}
	<div style="position:absolute;right:15px;top:50px;">
		<a href="/detalhe_jogo?id={{jogo_posterior_clube1.key.id}}"> {{jogo_posterior_clube1|printjogo4clube:jogo.jog_clube1.key.id}} &rarr;</a>
	</div>
	{% endif %}
	{% if jogo_posterior_clube2 %}
	<div style="position:absolute;right:15px;top:70px;">
		<a href="/detalhe_jogo?id={{jogo_posterior_clube2.key.id}}"> {{jogo_posterior_clube2|printjogo4clube:jogo.jog_clube2.key.id}} &rarr;</a>
	</div>
	{% endif %}
</div>


<div class="fp-video-box fp-shadow fp-medium-radius" id="fp-fixed-video-screen-div" style="display:none;">
	<a href="#" class="minimize-video" style="text-align:left;display:block;font-size:10px;height:10px;">[x] Esconder</A> 
	<div id="fp-fixed-video-screen"></div>
</DIV>

<table id="fp-ficha-jogo" style="margin:auto;margin-top:20px;margin-bottom:20px;">
	<tr>
		<td colspan="2">
			<div class="fp-ficha-jogo-emblema-esquerda">
			<a href="detalhe_clube?id={{jogo.jog_clube1.key.id}}"><img src="{{jogo.jog_clube1.clu_link_logo}}"></a></DIV>
		</td>
		<td><div style="width:20px;"></div></td>
		<td colspan="2">
			<div class="fp-ficha-jogo-emblema-direita">
			<a href="detalhe_clube?id={{jogo.jog_clube2.key.id}}"><img src="{{jogo.jog_clube2.clu_link_logo}}"></A></DIV>
		</td>
	</tr>

	<tr>
		<td class="fp-ficha-jogo-clube-esquerda">
			<a href="detalhe_clube?id={{jogo.jog_clube1.key.id}}">
				{{jogo.jog_clube1.clu_nome_curto}}</A></td>
		<td class="fp-ficha-jogo-golos-esquerda">{{jogo.jog_golos_clube1|filternone}}</td>
		<td style="font-size:36px;text-align:center;">-</td>
		<td class="fp-ficha-jogo-golos-direita">{{jogo.jog_golos_clube2|filternone}}</td>
		<td class="fp-ficha-jogo-clube-direita">
			<a href="detalhe_clube?id={{jogo.jog_clube2.key.id}}">
					{{jogo.jog_clube2.clu_nome_curto}}</td>
	</tr>
	<tr>
		<td colspan="5" style="text-align:center;">
			Jogo da <a href="/detalhe_jornada?id={{jogo.jog_jornada.key.id}}">{{jogo.jog_jornada.jor_nome_completo}}</a> da <a href="/detalhe_competicao?id={{jogo.jog_jornada.jor_competicao.key.id}}">{{jogo.jog_jornada.jor_competicao.cmp_nome_completo}}</a> - <a href="/detalhe_epoca?id={{jogo.jog_jornada.jor_competicao.cmp_epoca.key.id}}">{{jogo.jog_jornada.jor_competicao.cmp_epoca.epo_nome}}</a>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:right;">
			{{jogo.jog_data|pp_dayweek_day_month}}, às {{jogo.jog_data|pp_hour}}
		</td>
		<td><div style="width:20px;"></div></td>
		<td colspan="2" style="text-align:left;">
			Árbitro: <a href="/detalhe_arbitro?id={{jogo.jog_arbitro.key.id}}">{{jogo.jog_arbitro.arb_nome}}</a>
		</td>
	</tr>
	<!-- data e árbitro -->
</table>	
	
<!-- início menu -->	
<DIV id="main-submenu-tab">
	<UL CLASS="tabs">
		<LI CLASS="active">
			<A CLASS="main-submenu-tab-link" rel="ficha" href="#">Ficha de jogo</A>
		</LI>
		<LI>
			<A CLASS="main-submenu-tab-link" rel="lances" href="#">Lances</A>
		</LI>
		<LI>
			<A CLASS="main-submenu-tab-link" rel="detalhe_icc" href="#">Detalhe ICC&#0153;</A>
		</LI>
		<LI>
			<A CLASS="main-submenu-tab-link" rel="videos" href="#">Vídeos</A>
		</LI>
		<LI>
			<A CLASS="main-submenu-tab-link" rel="historial" href="#">Historial</A>
		</LI>
	</UL>	
	
	<DIV class="clear"></DIV>
	
	<DIV class="main-tab-content">

<!-- início ficha -->
		<DIV class="tab_contents tab_contents_active" id="ficha" style="margin-top:10px;">

		<div class="main-center">
			{{ficha_de_jogo_html}}
		</div>
	
		<!-- comentarios -->
		{% if jogo.jog_comentario %}
		<div class="fp-comentario-box fp-medium-radius fp-shadow">
			<IMG style='float:left; margin-right:10px;height:50px;' src='{{settings.image_avatar}}'>
			<div style="text-align:left;width:100%;"><P>&#8220{{jogo.jog_comentario}}&#8221</P></DIV>
		</DIV>
		{% endif %}

		</DIV>

<!-- lances -->

		<DIV class="tab_contents" id="lances" style="margin-top:10px;">

		<div style="margin-left:10px;">
		{% if lances_html %}

			<!-- summimg-up dos lances-->
			<div style="width:100%;margin:20px;">
				{{sumario_actuacao_arbitro_html}}
			</div>

			<div>
			{% for lance in lances_html %}
				{{lance}}
				<HR width="97%" color="#888" style="margin-top:5px; margin-bottom:20px;">
			{% endfor %}
			</div>
		
		<!-- end lances -->
		{% else %}
			<div style="text-align:center;">Não há lances para este jogo.</div>
		{% endif %}
		</div>
	
		</DIV>

		<DIV class="tab_contents" id="detalhe_icc" style="margin-top:10px;">

<!-- detalhe icc -->

	<div class="fp-subtitulo" style="margin:10px;">Detalhe do ICC&#0153;</div> 
		<div class="fp-table-wrapper">
			<div style="text-align:left;font-size:12px;margin-bottom:10px;">Nota: só serão apresentados os lances onde o árbitro errou, e que efectivamente contam para o ICC&#0153;.</div>
	
			<div id="fp-detalhe-icc" style="margin-left:auto;margin-right:auto;width:800px;">
				<table id="fp-detalhe-icc-table" style="table-layout:fixed;width:800px;font-size:12px">
					<tr style="border-top:1px solid black;">
						<th rowspan=2 style="text-align:center;width:350px;">Jogos / lances</th>
				
						<th colspan=4 style="width:400px;text-align:center;">Factores e pesos</th>
						<th rowspan=2 style="width:60px;">ICC&#0153;</th>
					</tr>
					<tr>
						<th style="width:250px;">Tipo<BR>de lance</th>	
						<th style="width:40px;">Tempo<BR>de jogo</th>	
						<th style="width:50px;">Resultado<BR>na altura</th>	
						<th style="width:30px;">Risco<BR>do jogo</th>	
					</tr>	

					<tr><td colspan=6 style="padding:0px; height:1px; background-color:#888;"></td></tr>

{% for item in detalhe_icc_jogos %} 
<!-- jogo header -->
<tr style="text-align:left;">
	<td>
		<P class="marqueeable">
			<B><a href="/detalhe_jornada?id={{item.jogo.jog_jornada.key.id}}"> {{item.jogo.jog_jornada.jor_nome_completo}}</A></B>: 
			<a href="/detalhe_jogo?id={{item.jogo.key.id}}">{{item.jogo|printjogo}}</a>
		</P>
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<!-- lance list -->
{% for lance in item.lances %}
<tr style="text-align:center;font-size:16px;">
	<td style="text-align:left;font-size:12px;">
		<B>Lance {{lance.num}}, aos {{lance.min}}'</B>
	</td>
	<td>{{lance.p_cla}}</td>
	<td>{{lance.p_tmp}}</td>
	<td>{{lance.p_res}}</td>
	<td>{{lance.p_ris}}</td>
	<td rowspan=2>
	<div style="float:right;font-size:14px;">{{lance.icc1}}</div>
	</td>
</tr>
<tr style="text-align:center;color:gray;">
	<td style="text-align:left;color:black;">
		<a href="detalhe_lance?id={{lance.id}}"><I>{{lance.descricao}}</I></a>
	</td>
	<td><p class="marqueeable"><I>{{lance.d_cla|translate_classe_lance}}</I></P></td>
	<td><p class="marqueeable"><span class="color:#CCC;font-size:10px;">{{lance.d_tmp|translate_tempo_lance}}</span></P></td>
	<td><p class="marqueeable"><span class="color:#CCC;font-size:10px;">{{lance.d_res}}</span></P></td>
	<td><p class="marqueeable"><span class="color:#CCC;font-size:10px;">{{lance.d_ris|translate_risco_jogo}}</span></P></td>
</tr>
{% endfor %}

<!-- bonus -->

{% if item.bonus %}
<tr style="text-align:left;">
	<td rowspan=2><B><span style="color:red;">Agravamento:</span></B><BR>
O resultado podia ser: {{item.jogo.jog_clube1.clu_nome_curto}} {{item.bonus.rv}}  {{item.jogo.jog_clube2.clu_nome_curto}}</td>
	<td colspan=3 style="text-align:center;font-size:16px;">{{item.bonus.p_agr}}</td>
	<td style="text-align:center;font-size:16px;">{{item.bonus.p_ris}}</td>
	{% if item.bonus.dn|eq:1 %}
	<td colspan=2><div style="float:right;font-size:14px;color:gray;">{{item.bonus.icc1}}</div></td>
	{% endif %}
	{% if item.bonus.clu1|eq:clube.key.id and item.bonus.dn|eq:2 %}
	<td><div style="float:right;font-size:14px;color:red;">{{item.bonus.icc1}}</div></td>
	<td></td>
	{% endif %}
	{% if item.bonus.clu2|eq:clube.key.id and item.bonus.dn|eq:3 %}
	<td><div style="float:right;font-size:14px;color:red;">{{item.bonus.icc2}}</div></td>
	<td></td>
	{% endif %}

	{% if item.bonus.clu1|eq:clube.key.id and item.bonus.dn|eq:3 %}
	<td></td>
	<td><div style="float:right;font-size:14px;color:green;">{{item.bonus.icc1}}</div></td>
	{% endif %}
	{% if item.bonus.clu2|eq:clube.key.id and item.bonus.dn|eq:2 %}
	<td></td>
	<td><div style="float:right;font-size:14px;color:green;">{{item.bonus.icc2}}</div></td>
	{% endif %}
</tr>
<tr style="text-align:center;color:gray;">
	<td colspan=3><P class="marqueeable">{{item.bonus.d_agr|translate_classe_lance}}</P></td>
	<td>{{item.bonus.d_ris|translate_risco_jogo}}</td>
</tr>
{% endif %}
<tr><td colspan=6 style="padding:0px; height:1px; background-color:#888;"></td></tr>
{% endfor %}

					</table>
				</div>
			</div>
<!-- fim icc -->

		</DIV>
		
<!-- videos -->

		<DIV class="tab_contents" id="videos" style="margin-top:10px;">

		<div class="fp-videos" style="width:100%;text-align:center;">
			{% if jogo.jog_link_videos %}

			<div id="fp-video-container" style="min-width:470px; margin:auto; text-align:center;"  class="fp-video-box fp-shadow fp-medium-radius">
				<div id="fp-video-links" style="float:left; width:120px; min-height:300px;">
		{% for video in jogo.jog_link_videos %}
			<A class="fp-watch-video fp-link-video" href="#" VIDEO_HTML="{{video|urlencode}}" 
			{# resizeHeightKeepRatio:300| #}
		 	TARGET_DIV="fp-game-video-screen">#{{forloop.counter}} {{video|getvideosource}}</A>
		{% endfor %}
				</div>
				<div id="fp-game-video-screen" style="min-width:300px;min-height:300px;float:left;">
					{{jogo.jog_link_videos|getfirstvideo}}
				</div>		
			</div>
			{% else %}
			<div style="text-align:center;">Não há vídeos para este jogo.</div>
			{% endif %}
		</div>
		</div>

<!-- início historial -->

		<DIV class="tab_contents" id="historial" style="margin-top:10px;">

			<div class="fp-table-wrapper">
				<div class="fp-table-gadgets" style="width:850px;">
					<div style="text-align:left;float:left;" class="fp-table-tablesorter-filter">
					Filtro: <input class="fp-table-tablesorter-filter-box" value="" maxlength="30" size="30" type="text">
					<img class="fp-table-tablesorter-filter-clear" src="img/cross.png" title="Limpar filtro" alt="Limpar filtro">
					</div>
					<div class="fp-table-tablesorter-pager" style="float:right;">
					<img src="img/first.png" class="first"/>
			      <img src="img/prev.png" class="prev"/>
			      <input type="text" class="fp-table-tablesorter-pager-counter pagedisplay"/>
			      <img src="img/next.png" class="next"/>
			      <img src="img/last.png" class="last"/>
			      <select class="pagesize">
			      <option value="10">10</option>
			 			<option value="20" selected="selected">20</option>
			         <option value="30">30</option>
			         <option value="40">40</option>
			       </select>
			    	</div>
				</div>

				<table id="fp-jogos-historial" class='fp-table fp-table-pager fp-table-filter' style="width:850px;">
					<THEAD>
						<tr style="text-align:center;">
							<TH style="width:100px;">Data</TH>
							<TH style="width:170px;">Competição</TH>
							<TH style="width:100px;">Jornada</TH>
							<TH style="width:170px;">Jogo</TH>
							<TH style="width:30px;"></TH>
							<TH style="width:70px;">ICC</TH>
							<TH style="width:160px;">Arbitragem</TH>
						</tr>
					</THEAD>
					<TBODY>
					{% for jogo in historial_jogos %}	
					<tr>
					<TD value="{{jogo.jog_data|pp_yearmonthday}}">
						<P class="marqueeable">
							{{jogo.jog_data|pp_daymonthyear}}, {{jogo.jog_data|pp_hour}}
						</P>
					</TD>	
					<TD>
						<P class="marqueeable">
							<a href="/detalhe_competicao?id={{jogo.jog_competicao.key.id}}">{{jogo.jog_competicao.cmp_nome_completo}} {{jogo.jog_competicao.cmp_epoca.epo_nome}}</a>
					</P>
					</TD>	
					<td>
						<P class="marqueeable">
			<a href="/detalhe_jornada?id={{jogo.jog_jornada.key.id}}">{{jogo.jog_jornada.jor_nome_completo}}</A></P>
					</TD>
					<TD><P class="marqueeable">
			<a href="/detalhe_jogo?id={{jogo.key.id}}">{{jogo|printjogo}}</A>
					</P></TD>

						<TD>{% if jogo.jog_link_videos %}	
						<A CLASS="fp-watch-video" HREF="#" 
						VIDEO_HTML="{{jogo.jog_link_videos.0|resizewidth:300|resizeheight:300|urlencode}}" 
						TARGET_DIV="fp-fixed-video-screen">
						<img src="img/movie.png"></A>
					{% endif %}
					</TD>
					<TD><P class="marqueeable">{{jogo|print_icc}}</P></TD>

					<TD style="font-size:10px;width:160px;">
						<P class="marqueeable">
							<div id="veredicto_polegar" style="float:left; margin-right:10px;vertical-align:middle;">	
								{% if jogo.jog_influencia_arbitro|eq:1 %}
								<img src="img/thumbs_up.png" style="vertical-align:middle;height:15px;width:15px;">
								{% endif %}
								{% if jogo.jog_influencia_arbitro|eq:2 %}
								<img src="img/thumbs_soso.png" style="vertical-align:middle;height:15px;width:15px;">					
								{% endif %}
								{% if jogo.jog_influencia_arbitro|eq:3 %}
								<img src="img/thumbs_down.png" style="vertical-align:middle;height:15px;width:15px;">
								{% endif %}
								{% if jogo.jog_influencia_arbitro|eq:4 %}
								<img src="img/thumbs_meh.png" style="vertical-align:middle;height:15px;width:15px;">
								{% endif %}
						</DIV>
						<DIV>
							<P class="marqueeable">
			{{jogo.jog_influencia_arbitro|translate_ia}}</P>
			</DIV>
					</P>
					</TD>
					</tr>	
					{% endfor %}
				</tbody>
				</table>	
			</DIV>

		</DIV>
<!-- fim historial -->

<!--fim tabs -->	
		</DIV>
	</DIV>
</DIV>
<script>$(document).ready(function() {$(".fp-table").tablesorter({textExtraction: function(node) { if ($(node).attr("value")) {return $(node).attr("value")} else {return $(node).html()}}});
	$(".fp-table-pager").each(function() {	$(this).tablesorterPager({ container: $(this).parents(".fp-table-wrapper").find(".fp-table-tablesorter-pager"), positionFixed: false, size:$(this).parents(".fp-table-wrapper").find(".fp-table-tablesorter-pager .pagesize option:selected").val() });
	})
	$(".fp-table-filter").each(function() { $(this).tablesorterFilter({ filterContainer: $(this).parents(".fp-table-wrapper").find(".fp-table-tablesorter-filter-box"),
	 filterClearContainer: $(this).parents(".fp-table-wrapper").find(".fp-table-tablesorter-filter-clear"),filterCaseSensitive: false}); })
	$(".marqueeable").each(function() {addMarquee(this)}
	tab = get_tab(); tablink = null;
if (tab) tablink = ($("#main-submenu-tab > UL.tabs > LI > A[rel='"+tab+"']"))
if (!tab && jQuery.isEmptyObject($("#main-submenu-tab > UL.tabs > LI.active"))) tablink =  $("#main-submenu-tab > UL.tabs > LI > A:first")
tablink.trigger("click")
})</script>

<div style="margin:10px;">
{% if request.url|doesntstartswith:"http://localhost" %}
<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/{{ settings.disqus }}/embed.js"></script>
<noscript><a href="http://{{ settings.disqus }}.disqus.com/?url=ref">Ver comentários.</a></noscript>
{% endif %}
<div><a href="/agradecimentos">Fonte dos dados</a></div>
</div>
{% else %}
Jogo inexistente.
{% endif %}
{% endspaceless %}
{% endautoescape %}