{% extends "main.html" %}
{% block title %}Leis do futebol{% endblock %}
{% block content %} 
{% spaceless %}
<DIV style="margin:10px;">
<H1>Dúvidas sobre lances</H1>

<P>Frequentemente, vemo-nos a discutir sobre lances sem saber concretamente o que diz a lei sobre o lance. Bola na mão ou mão na bola? Se bater no braço e este está junto ao corpo, é penalti ou não? Aqui ficam as dúvidas esclarecidas de acordo com as leis do futebol publicadas sítio da <a href="http://www.lpfp.pt/futebol/leisjogo/index.aspx">Liga Portuguesa de Futebol Profissional</A>.</P>
<P></P>	
<P><B>Não está aqui a sua dúvida?</B> Envie-me <a href="mailto:foipenalti@foipenalti.com">a sua dúvida, e eu tentarei esclarecê-la nesta secção do 'Foi Penalti'</A>.</P>

<blockquote>

	<H3>Fora-de-jogo</H3>

	<UL>
		<LI><A HREF='duvidas#fdj_1'>Há fora-de-jogo a partir de um lançamento da linha lateral?</a></LI>
			
		<LI><A HREF='duvidas#fdj_2'>Há fora-de-jogo, quando a bola ressalta num adversário?</a></LI>
			
		<LI><A HREF='duvidas#fdj_3'>Onde se marca o fora-de-jogo?</a></LI>	
		<LI><A HREF='duvidas#fdj_4'>Que partes do corpo do jogador contam para os fora-de-jogo milimétricos?</a></LI>	

	</UL>
</blockquote>	

<blockquote>
	<H3>Jogo</H3>
		<UL>
		<LI><A HREF='duvidas#jog_1'>Um jogador pode roubar a bola ao guarda-redes quando este a repõe em jogo?</a></LI>
			<LI><A HREF='duvidas#jog_2'>Um jogador perde a chuteira durante uma jogada. Se continuar a jogada sem ela, está a cometer uma falta?</a></LI>
		</UL>
			
</blockquote>

<blockquote>
	<H3>Cartões</H3>
		<UL>
		<LI><A HREF='duvidas#car_1'>Em que situações é que um jogador pode ver um cartão amarelo, ao festejar o golo?</a></LI>
		</UL>
			
</blockquote>

			
	<blockquote>
	<H3>Penalti</H3>
		<UL>
		<LI><A HREF='duvidas#pen_1'>Jogo perigoso dentro da área: É penalti ou não?</a></LI>		
		<LI><A HREF='duvidas#pen_2'>As fintas / paradinhas são permitidas?</a></LI>		
		<LI><A HREF='duvidas#pen_3'>Pode-se marcar o penalti sem o árbitro ter apitado para tal?</a></LI>	
		<LI><A HREF='duvidas#pen_4'>Mão na bola / bola na mão... afinal, quais os critérios?</a></LI>	
		</UL>
			
</blockquote>


<DIV class="fp-hr"></DIV>
	
<a name="fdj_1"></a>
	<H3>Há fora-de-jogo a partir de um lançamento da linha lateral?</H3>
<blockquote>	
	<P>Não há infracção de fora-de-jogo quando um jogador recebe a bola directamente de: 
		<OL>
			<LI> um pontapé de baliza</LI>
			<LI> um lançamento lateral</LI>
			<LI> um pontapé de canto</LI>
		</OL>
		</P>
	<P>Fonte: <a href="http://www.lpfp.pt/futebol/leisjogo/lei11.aspx">Leis do jogo - Fora-de-jogo, LPFP</a></P>
</blockquote>
	
<a name="fdj_2"</a>
	<H3>Há fora-de-jogo, quando a bola ressalta num adversário?</H3>
<blockquote>
	<P>Se o jogador B está em fora-de-jogo, e o jogador A (da mesma equipa) faz um passe/remate cuja intenção não era para o jogador B, mas a bola vai na direcção do jogador por intermédio de um ressalto num defesa adversário, <B>está em fora de jogo</B> de acordo com o slide 12 do diagrama abaixo, uma vez que tira partido da sua situação ilegal.</P>
	<P>
			<object type="application/x-shockwave-flash" data="http://www.lpfp.pt/futebol/leisjogo/leis.swf" width="580" height="368" style="display: inline-block !important; "><!-- <![endif]--><!--[if IE]>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"width="580" height="368"><param name="movie" value="http://www.lpfp.pt/futebol/leisjogo/leis.swf" />
<!--><!--dgx--><param name="loop" value="true"><param name="menu" value="false"><p>O seu browser não suporta Flash. Instale o <a href="http://get.adobe.com/br/flashplayer/" target="_blank">plugin Flash actualizado</a> e faça refresh à página.</p>
</object>
</P>
	<P>Fonte: <a href="http://www.lpfp.pt/futebol/leisjogo/lei11.aspx">Leis do jogo - Fora-de-jogo, LPFP</a></P>

</blockquote>

<a name="fdj_3"</a>
	<H3>Onde é que se marca o fora-de-jogo?</H3>
<blockquote>
	<P>Quando o árbitro apita, assinalando um fora-de-jogo, deve conceder um pontapé-livre indirecto <B>no local em que o jogador em fora-de-jogo se encontrava</B> no momento em que a bola foi jogada ou tocada por um dos seus colegas de equipa.</P>
	<P>Fonte: <a href="http://www.lpfp.pt/futebol/leisjogo/lei11.aspx">Leis do jogo - Fora-de-jogo, LPFP</a></P>

</blockquote>

<a name="fdj_3"</a>
	<H3>Que partes do corpo do jogador contam para os fora-de-jogo milimétricos?
</H3>
<blockquote>
	<P>Na definição de "mais perto da linha de baliza adversária", é considerada qualquer parte da cabeça, corpo ou pés dos jogadores na medição da distância entre a bola, a baliza adversária e o penúltimo adversário.</P>
	<P>Mais importante, <B>os braços não se incluem nesta definição</B>. Em resumo, infere-se que conta tudo menos os braços.</P>
	<P>Fonte: <a href="http://www.lpfp.pt/futebol/leisjogo/lei11.aspx">Leis do jogo - Fora-de-jogo, LPFP</a></P>

</blockquote>

<a name="jog_1"</a>
	<H3>Um jogador pode roubar a bola ao guarda-redes quando este a repõe em jogo?</H3>
<blockquote>
	<P>A lei diz que um jogador deve ser penalizado por jogo perigoso se pontapeia ou tenta pontapear a bola quando o guarda-redes a vai repor em jogo. No entanto, nota-se que a lei diz <B>pontapear</B>; pode-se inferir que <B>cabeçear</B> pode não ser considerado jogo perigoso, e ser uma jogada dentro da legalidade.</P>
	<P>Fonte: <a href="http://www.lpfp.pt/futebol/leisjogo/lei12.aspx">Leis do jogo - Faltas e incorrecções, LPFP</a></P>

</blockquote>

<a name="jog_2"</a>
	<H3>Um jogador perde a chuteira durante uma jogada. Se continuar a jogada sem ela, está a cometer uma falta?</H3>
<blockquote>
	<P>A lei diz que, se um jogador perder acidentalmente uma bota e jogar imediatamente a bola e/ou marcar um golo, <B>não há infracção e o golo deve ser validado</B>, porque a perda da bota foi acidental.</P>

	<P>Fonte: <a href="http://www.lpfp.pt/futebol/leisjogo/lei4.aspx">Leis do jogo - Equipamento dos jogadores, LPFP</a></P>

</blockquote>

<a name="car_1"</a>
	<H3>Em que situações é que um jogador pode ver um cartão amarelo, ao festejar o golo?</H3>
<blockquote>
	<P>O International F. A. Board diz que os jogadores <B>não estão autorizados a exibir slogans ou publicidade</B> que figurem na sua camisola interior. Ou seja, qualquer tipo de mensagem exibida terá como consequência um cartão, e também uma sanção pela organização da competição (i.e., multa).</P>
	<P>No entanto, a lei nada diz sobre festejar o golo junto às bancadas, ou sobre remover peças de equipamento nos festejos. Embora essas práticas geralmente são sancionadas com cartão, não encontrei nada na lei que o diga.</P>
		
	<P>Fonte: <a href="http://www.lpfp.pt/futebol/leisjogo/lei4.aspx">Leis do jogo - Equipamento dos jogadores, LPFP</a></P>
</blockquote>

<a name="pen_1"</a>
	<H3>Jogo perigoso dentro da área: É penalti ou não?</H3>
<blockquote>
	<P>A lei diz: "o jogo perigoso não implica necessariamente contacto físico entre os jogadores. No caso de contacto físico, a acção passa a ser punida com um pontapé-livre directo ou com um pontapé de grande penalidade".</P>

	<P>Por outras palavras, uma situação de jogo perigoso cometida por um defesa na sua grande área, se <B>não</B> envolver contacto físico, <B>é punida com um livre indirecto, e não com uma grande penalidade</B>. </P>

	<P>Fonte: <a href="http://www.lpfp.pt/futebol/leisjogo/lei12.aspx">Leis do jogo - Faltas e incorrecções, LPFP</a></P>
</blockquote>	
	
<a name="pen_2"</a>
	<H3>As fintas / paradinhas são permitidas?</H3>
<blockquote>
	<P>Fazer fintas durante a execução de um pontapé de grande penalidade para confundir o adversário é autorizado e faz parte do futebol. No entanto, se o árbitro entender que a finta constitui um comportamento antidesportivo, o jogador deve ser advertido.</P>
	<P>Em resumo: <B>sim</B>, mas o árbitro pode achar abusivo e exibir um cartão, depende da interpretação do árbitro.</P>

	<P>Fonte: <a href="http://www.lpfp.pt/futebol/leisjogo/lei14.aspx">Leis do jogo - Grande penalidade, LPFP</a></P>
</blockquote>

<a name="pen_3"</a>
	<H3>Pode-se marcar o penalti sem o árbitro ter apitado para tal?</H3>
<blockquote>
	<P>A lei diz que o árbitro dará o sinal para que o pontapé seja executado, depois de se certificar que todos os jogadores estão nos seus locais devidos de acordo com a lei. Ou seja, <B>só depois do apito do árbitro</B> é que o jogador pode marcar golo a partir de uma grande penalidade.</P>

	<P>Fonte: <a href="http://www.lpfp.pt/futebol/leisjogo/lei14.aspx">Leis do jogo - Grande penalidade, LPFP</a></P>
	
</blockquote>

<a name="pen_4"</a>
	<H3>Mão na bola / bola na mão... afinal, quais os critérios?</H3>
<blockquote>
	<P>A lei diz que tocar a bola com as mãos <B>implica um acto deliberado</B> em que o jogador toma contacto com a bola com as mãos ou com os braços. O árbitro deve ter em consideração os seguintes critérios:
	<OL>
		<LI>O movimento da <B>mão na direcção da bola</B> (e não a bola na direcção da mão);</LI>
		<LI>A <B>distância</B> entre o adversário e a bola (bola inesperada)</LI>
		<LI>A posição da mão não pressupõe necessariamente uma infracção</LI>
		<LI>O facto do contacto com a bola ser feito com um objecto que tem na mão (peça de vestuário, caneleira, etc.), não deixa de constituir infracção.</LI>
		<LI>o contacto com a bola ser feito através de um objecto lançado com as mãos (bota, caneleira, etc.) também constitui infracção.</LI>
	</OL>	
</P>
	<P>A lei não é muito clara em relação a aspectos como o facto de ter o braço junto ao corpo ou os braços afastados. Salienta-se o facto de, para ser penalti, tem de haver um <B>acto deliberado</B>, ou seja, alguma intencionalidade em usar o braço na jogada. Como tal, abrir os braços durante um salto para impedir por exemplo um centro, pode ser considerado uma intencionalidade e um uso dos braços para a jogada, e na minha interpretação da lei, nestas situações <B>é passível</B> de grande penalidade. Note-se que o movimento da mão na direcção da bola é o único movimento considerado para marcar a falta, e não o movimento da bola na direcção à mão.</P>
	<P>Quanto à distância, <B>fica ao critério do árbitro</B> em decidir se esta é curta o suficiente para que qualquer movimento da mão em relação à bola <B>não seja considerado intencional</B>, uma vez que <B>o tempo decorrido é menor que o tempo médio de reflexos do jogador</B>. Só a partir do tempo médio de reflexos do jogador é que se pode dizer que qualquer movimento de braços do jogador é consequência directa da sua intencionalidade para com a jogada.</P>
	<P>Em resumo: é penalti só se o jogador <B>mexer o braço com intenção de tocar a bola</B>, independentemente de onde se situar o braço (junto ao corpo ou afastado).</P>
	<P>Fonte: <a href="http://www.lpfp.pt/futebol/leisjogo/lei12.aspx">Leis do jogo - Faltas e incorrecções, LPFP</a></P>
	
</blockquote>
	
	



Sanções disciplinares
http://www.lpfp.pt/futebol/leisjogo/lei12.aspx




</DIV>
{% endspaceless %}
{% endblock %}