{% extends "main.html" %}
{% block title %}Erro 404!{% endblock %}
{% block content %} 
{% spaceless %}
<div style="width:100%; text-align:center;">
	<span style="font-size:200px;">404!</span><BR>
	<span style="font-size:16px;">Alguém andou a brincar com o URL, ou então parabéns, descobriste mais um erro no sistema.</span><BR>
<span style="font-size:20px;"><A href="mailto:foipenalti@foipenalti.com">Yup, é um erro. Quero reportar.</A></span><BR> 
<span style="font-size:20px;"><A href="/">Sim, estive brincar com o URL, desculpa.</a></span>
</DIV>
{% endspaceless %}
{% endblock %}