{% extends "main.html" %}
{% block title %}Sem quota!{% endblock %}
{% block content %} 
{% spaceless %}
<div style="width:100%; text-align:center;">
	<span style="font-size:50px;">Tasco fechado por hoje!</span><BR>
	<span style="font-size:24px;">Quota de tráfego terminou, volte cá amanhã.</span><BR>
	<span style="font-size:16px;">Pois, a quota de hoje esgotou-se. Provavelmente, um cabrão ucraniano andou a brincar aos ácaros, ou então anda por aí mais uma campanha da "verdade desportiva". Temos pena, o tasco fechou por hoje. Eu até podia comprar quota, mas como este estaminé não tem anúncios, eu não sou nenhuma santa casa, e tu não estás com pressa, então relaxa e volta cá mais tarde. De manhãzinha, para garantir uns KB para ti.</span>
</DIV>
{% endspaceless %}
{% endblock %}
