{% extends "main.html" %}
{% block title %}Procurar árbitro{% endblock %}
{% block content %} 
{% spaceless %}
{% if flash %}
	{% if flash|startswith:"Err" %}
    <div class="flash-err-msg fp-shadow fp-medium-radius">{{ flash }}</div>
   {% else %}
	 <div class="flash-ok-msg fp-shadow fp-medium-radius">{{ flash }}</div>
	{% endif %}
{% endif %}

<H2 style="margin-left:10px;">Procurar árbitro</H2>

<div class="fp-search-form-box fp-shadow fp-medium-radius">
	<form action="" method="get">
		<UL class="fp-search-form-box-list">
			<LI>Quero ver o árbitro <select size=1 name="arb">
				<option value="">qualquer</option>
				{% for arbitro in arbitros %}
					<option value="{{ arbitro.key.id }}"{% if arb_nome and arbitro.key.id|matcheslong:arb_nome %} SELECTED{% endif %}>{{ arbitro.arb_nome}}</option>
				{% endfor %} 
			</select>, ou árbitros que arbitraram jogos com o <select size=1 name="clu1">
				<option value="">qualquer clube</option>
				{% for clube in clubes %}
					<option value="{{ clube.key.id }}"{% if arb_clube1 and clube.key.id|matcheslong:arb_clube1 %} SELECTED{% endif %}>{{ clube.clu_nome_curto}}</option>
				{% endfor %} 
			</select>
			e 
			<select size=1 name="clu2">
				<option value="">qualquer clube</option>
				{% for clube in clubes %}
					<option value="{{ clube.key.id }}"{% if arb_clube2 and clube.key.id|matcheslong:arb_clube2 %} SELECTED{% endif %}>{{ clube.clu_nome_curto}}</option>
				{% endfor %} 
			</select>. 
		</LI>
		<LI>Quero ver <select size=1 name="nr">
			<option {% ifequal num_resultados 15 %}SELECTED{% endifequal %}>15</option>
			<option {% ifequal num_resultados 30 %}SELECTED{% endifequal %}>30</option>
			<option {% ifequal num_resultados 45 %}SELECTED{% endifequal %}>45</option>
			</select> resultados de cada vez. 
				<div style="margin-top:10px;display:block;"><input type="submit" class="fp-search-button" value="Procurar árbitros"></div>
		</LI>
	</UL>
</form>
</div>

{% if results %}

<div class="fp-pager-div">
	<div style="position:absolute;margin-left:10px;">Foram encontrados {{results_total}} árbitro(s).</div> 
	{% if results_page_links|array_len_ne:1 %}
	<div class="fp-pager">
    {% for page in results_page_links %}
		<A href="{{page.1}}">{{page.0}}</a>
	 {% endfor %}
	</div>	
	{% endif %}
</div>
<script type="text/javascript">
	var results = {{results|to_json}}
</script>

<DIV ID="main-submenu" CLASS="fp-shadow" style="border:1px solid black;margin-left:10px;">
	<UL>
		<LI CLASS="main-submenu-firstitem active">
			<A onClick="javascript:print_results(results,'procurar_arbitro','slides',$('.fp-results-page-div'))" CLASS="submenu-link" href="#">&#10063;</A></LI>
		<LI>
		<LI CLASS="main-submenu-lastitem">
			<A onClick="javascript:print_results(results,'procurar_arbitro','table',$('.fp-results-page-div'))" CLASS="submenu-link" href="#">&#9776;</A></LI>
		<LI>
	</UL>
</DIV>
<div class="clear"></div>
	
<div class="fp-results-page-div"></div>

<div class="fp-pager-div">
	{% if results_page_links|array_len_ne:1 %}
	<div class="fp-pager">
	   {% for page in results_page_links %}
		<A href="{{page.1}}">{{page.0}}</a>
	 {% endfor %}
	</div>	
	{% endif %}
</div>	
	
{% else %}
	{% if num_resultados %}Sem resultados.{% endif %}
{% endif %}
<script>
$(document).ready(function() {
	print_results(results, "procurar_arbitro", "slides", $(".fp-results-page-div"))
})
</script>
{% endspaceless %}
{% endblock %}