{% extends "main.html" %}
{% block title %}Regulamentos de competições{% endblock %}
{% block content %} 
{% spaceless %}
<DIV style="margin:10px;">
<H1>Regulamentos de competições</H1>

<blockquote>
	<H3>Regras de ordenação na classificação</H3>
	<UL>
		<LI><A HREF='regulamento#1'>Liga ZON Sagres, época 2010/2011</LI>			
		<LI><A HREF='regulamento#2'>Taça da Liga bwincup, época 2010/2011</LI>			
	</UL>
</blockquote>
		
<a name="1"></a>
	<H3>Regras de ordenação na classificação Liga ZON Sagres, época 2010/2011</H3>
<blockquote>	
<P>Fonte: <a href="http://www.lpfp.pt/SiteCollectionDocuments/Regulamento%20de%20Competi%C3%A7%C3%B5es%20-%20%C3%89poca%202010-2011.pdf">Regulamento de Competições - Época 2010/2011, LPFP</A><P>
<P></P>
<P>Para estabelecimento da classificação geral dos clubes que, no final das competições se encontrarem com igual número de pontos, serão aplicados, para efeitos de desempate, os seguintes critérios, segundo ordem de 
prioridade:<P>
<P>
<OL style="margin:10px;">
	<LI> <B>Número de pontos</B> alcançados pelos clubes empatados, no jogo ou jogos <B>que entre si realizaram</B></LI>
	<LI> <B>Maior diferença entre golos</B> marcados e golos sofridos pelos clubes empatados, <B>nos jogos que realizaram entre si</B></LI>
	<LI> <B>Maior número de golos marcados</B> no campo do adversário, <B>nos jogos que realizaram entre si</B></LI>
	<LI> <B>Maior diferença entre golos</B> marcados e o número de golos sofridos pelos vlubes nos jogos realizados <B>em toda a competição</B></LI>
	<LI> <B>O maior número de vitórias</B> em toda a competição</LI>
	<LI> <B>O maior número de golos marcados</B> em toda a competição</LI>
</OL>
</P>
	
<P>Se, após a aplicação sucessiva dos critérios estabelecidos no número anterior, ainda subsistir situação de igualdade, observar-se-á o seguinte critério de desempate:</P>
<OL style="margin:10px;">
	<LI> <B>Se só houver duas equipas empatadas, realizar-se-á <B>um jogo em campo neutro</B>, a designar pela Liga P.F.P.. Se, findo o tempo regulamentar, se mantiver o empate, proceder-se-á a um prolongamento de trinta minutos, dividido em duas partes de quinze minutos; se a situação de empate subsistir findo o tempo de prolongamento, apurar-se-á o vencedor através do sistema de marcação de pontapés de grande penalidade.</LI>
	<LI> Tratando-se de mais de duas equipas em situação de igualdade, realizar-se-á <B>uma competição a uma só volta</B>, em campo neutro, para encontrar o vencedor</LI>
	<LI>Se, finda esta competição, não se encontrar o vencedor e ficarem duas ou mais equipas empatadas, proceder-se-á ao desempate de acordo com os critérios fixados acima para a competição original</LI>
</OL>

<P>Para efeitos de estabelecimento de <B>classificação dos clubes em cada jornada</B>, serão aplicáveis, para efeitos de desempate, os critérios 4, 5 e 6 (e não se aplicam os critérios 1, 2 e 3).  No caso de, aplicados sucessivamente todos os critérios referidos no número anterior, duas ou mais equipas 
continuem empatadas, atribuir-se-á a todas a mesma posição na tabela classificativa.</P>

</blockquote>	

<a name="2"></a>
	<H3>Regras de ordenação na classificação da taça da liga bwincup, época 2010/2011</H3>
<blockquote>	
<P>Fonte: <a href="http://www.lpfp.pt/SiteCollectionDocuments/Regulamento%20de%20Competi%C3%A7%C3%B5es%20-%20%C3%89poca%202010-2011.pdf">Regulamento de Competições - Época 2010/2011, LPFP</A><P>
<P><B>1ª FASE:</B></P>
<P>A 1ª Fase é disputada entre os 16 clubes participantes na Liga de Honra em cada época desportiva, sendo estes clubes distribuídos por 4 grupos, cada um constituído por 4 equipas. São apurados os 8 Clubes que, após a realização das três jornadas, ocupem o 1º e 2º lugar em cada grupo.</P>

<P><B>2ª FASE:</B></P>
<P>A segunda fase é disputada, num sistema de eliminatória a duas mãos, entre os 8 clubes apurados na 1ª fase, os 6 clubes participantes na Liga classificados na época transacta do 9º ao 14º lugar e os 2 clubes que foram promovidos à Liga Sagres. Os 8 clubes apurados na 1ª Fase jogam a primeira mão na qualidade de visitados, sendo apurados 8 clubes para a fase seguinte da competição.</P>

<P><B>3ª FASE:</B></P>
<P>A 3ª Fase é disputada entre os 8 clubes apurados na 2ª Fase e os 8 clubes participantes na Liga classificados na época transacta do 1º ao 8 º lugar, sendo estes clubes distribuídos por 4 grupos, cada um constituído por 4 equipas. São apurados os 4 clubes que, após a realização das três jornadas, ocupem o 1º lugar em cada grupo.</P>

<P><B>Meias- Finais</B></P>
<P>As meias-finais são disputadas a <B>uma mão</B> entre os 4 clubes apurados na fase anterior. A Meia-Final 1 será disputada entre o clube vencedor do Grupo B da fase anterior, na condição de visitado, e o clube vencedor do Grupo D da fase anterior, na condição de visitante. A Meia-Final 2 será disputada entre o clube vencedor do Grupo A da fase anterior, na condição de visitado, e o clube vencedor do Grupo C da fase anterior, na condição de visitante.</P>

<P><B>Final</B></P>
<P>A final é disputada em campo neutro a designar em cada época pela Liga PFP entre os 2 clubes vencedores das meias-finais.</P>

<H3>Critérios de desempate</H3>

<P>Na 1.ª fase e 3.ª fase da competição, caso se venha a verificar um empate de pontuação entre os clubes, o apuramento para a fase seguinte é efectuado por aplicação dos seguintes critérios:</P>
<OL style="margin:10px;">
	<LI> <B>Maior diferença entre golos</B> marcados e número de golos sofridos na respectiva fase</LI>
	<LI> <B>Maior número de golos marcados</B> na respectiva fase</LI>
	<LI> <B>Média etária mais baixa</B> dos jogadores utilizados durante a respectiva fase</LI>
</OL>

<P>A determinação da média etária mais baixa dos jogadores é feita nos seguintes termos:</P>
<OL style="margin:10px;">
	<LI>Após cada jogo serão elaboradas tabelas para cada uma das equipas participantes com a seguinte informação:
	<OL>
		<LI>Identificação dos jogadores utilizados e respectiva data de nascimento</LI>
		<LI>Somatório das idades (em anos completos) dos jogadores utilizados</LI>
	</OL>
	<LI>No final da respectiva fase, efectua-se a seguinte operação:</LI>
	<OL>
		<LI>Somatório dos totais de idades por equipa (jogo 1 + jogo 2 + jogo 3)</LI>
		<LI>Somatório do número total de jogadores utilizados por equipa (jogo 1 + jogo 2 + jogo 3)</LI>
		<LI>Cálculo da média de idades final, dividindo (1) por (2)</LI>
	</OL>
</OL>	

Notícias relacionadas: <a href="http://www.rr.pt/bolabranca_detalhe.aspx?fid=73&did=85413">Taça da Liga: LPFP altera critério de desempate</a>.

</DIV>
{% endspaceless %}
{% endblock %}