{% extends "main.html" %}
{% block title %}Termos do serviço{% endblock %}
{% block content %} 
{% spaceless %}
<H2>Termos do serviço</H2>

<P>Este sítio tem como objectivo principal ser uma caixa de areia para os devaneios de um programador que gosta de futebol e de serviços <I>web</I>. Em <B>nenhum</B> caso este sítio pretende acusar algum interveniente (árbitros, comentadores e jogadores) de algum favorecimento ilícito nos resultados desportivos, e não pode de nenhuma forma servir de prova irrefutável de que há enviesamentos propositados da verdade desportiva.  
</P>
<P>
Ninguém é perfeito, e jogadores, árbitros e ex-árbitros são também humanos e erram. Por vezes esses erros são determinantes no resultado final dos jogos, o que coloca sempre o adepto a explicar tais ocorrências como sendo parte do "sistema". Estatisticamente falando, é preciso que tais desvios sejam consistentes e significativos para que se possa afirmar, com algum nível de confiança, que não são fruto do acaso. </P>
<P>
Um dos objectivos secundários deste sítio é precisamente mostrar que, no final de uma temporada com centenas de jogos, os erros têm tendência a anularem-se entre si e a probabilidade de a classificação se manter, mesmo com a compensação dos erros, é muito elevada.
</P>
<P>
Neste sítio procura-se abordar a temática dos erros desportivos de uma forma estatística. Note-se que uma simples tabela onde se apresente uma lista de árbitros por ordem decrescente de número de erros numa época <B>não pode de forma alguma</B> ser correlacionada com a capacidade técnica dos árbitros. Use o seu bom-senso: nessa lista, alguém teria de ser o primeiro, e alguém teria de ser o último; mas o primeiro não quer necessariamente dizer que o número de erros são fora do normal e, como tal, fora de uma média aceitável. 
</P>
<P>
Por favor, consuma as tabelas e estatísticas apresentadas neste sítio numa perspectiva de adepto de futebol: isto é apenas um jogo, e este sítio é apenas um exercício de um <I>web-service</I>.</P>
{% endspaceless %}
{% endblock %}